[2018-12-04 21:23] woutgg opened #3 "Typescript definition"
First of all: thanks for your fork of the original plugin. Being able to change the returned key names is very handy indeed.

I also needed an extended typescript definition, so I've updated the original file ([this one](https://raw.githubusercontent.com/DefinitelyTyped/DefinitelyTyped/master/types/mongoose-paginate/index.d.ts)).

I'm not sure if I covererd everything though, and did not want to p

[2018-12-05 02:40] aravindnc commented on #3
Hey @woutgg, Thanks for your contribution.
You can go ahead and publish the TS definition, it seems to be good!

[2018-12-05 09:17] JurajJakubov opened #4 "TypeError: this.countDocuments is not a function"
Hello,

i am trying to make pagination with this but i am still getting error
`TypeError: this.countDocuments is not a function`

My model.
[code]

Rotues.js
// View users
[code]
Just dont know what is wrong.
Thank for any advice.

[2018-12-05 09:36] JurajJakubov commented on #4
I am using www.mlab.com
mongod version: 3.6.6 (MMAPv1)

[2018-12-05 09:47] aravindnc commented on #4
No, the mongoose version. This is a mongoose plugin so you need mongoose to work.
https://www.npmjs.com/package/mongoose

[2018-12-05 10:03] JurajJakubov commented on #4
I updated my mongoose to "mongoose": "^5.3.14",  error is gone. But now is site just loading without any errors.

[2018-12-05 10:11] JurajJakubov commented on #4
I just updated mongoose to the latest version and now it works thank :)

[2018-12-05 10:11] #4 closed

[2018-12-05 10:52] JurajJakubov opened #5 "Is url crafted automatically?"
Hello,

i have one more question.
Do i need to craft url or is crafted automatically?
For example with express-paginate i am able to do this.
[code]
which gaves me link
`http://localhost:3000/users/show?page=2&limit=5`

Thank in advance for reply.

[2018-12-05 11:01] woutgg commented on #3
PR made, [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31087).

[2018-12-05 11:14] aravindnc commented on #5
In this version you have to manually craft the URL.

[2018-12-05 11:16] JurajJakubov commented on #5
Thank you 👍

[2018-12-05 11:16] #5 closed

[2018-12-12 22:48] Goal54 opened #6 "No limit on paginate request"
I try to get all of my documents if I have a certain condition in my code. Can I make that or I must make another request (by duplicate my code) without pagination ?
Thank you ! :)

[2018-12-12 22:53] #6 closed

[2018-12-13 03:11] aravindnc commented on #6
@Goal54  Hope you solved the issue.

[2018-12-13 03:13] aravindnc commented on #3
@woutgg Hope everything is well.

[2018-12-13 03:13] #3 closed

[2018-12-13 09:51] woutgg commented on #3
@aravindnc Me too, we'll just be patient. :)

[2019-01-03 21:10] woutgg commented on #3
Update: PR has been merged and an [npm package](https://www.npmjs.com/package/@types/mongoose-paginate-v2) has been published.

[2019-01-04 05:56] aravindnc commented on #3
@woutgg Awesome. Thanks for your effort. Appreciate it.

[2019-01-05 12:44] yalcinmuhammed opened #8 "Aggregate functions usage"
Hello sir,
I  am trying to sort by new field that sum of two fields in the mongoose schema.
But how can i do that?

Here is my example code below:
[code]
I don't know how to sort by using sum of two fields.
I would be appreciated for any suggestion.
Thank you.

[2019-01-08 02:05] aravindnc commented on #8
@yalcinmuhammed
You should use something like this,

// Or use the aggregation pipeline builder.
QuestionModel.aggregate()
  .project({
            "name": 1, // other fields
            "description": 1,  // other fields
            "popularity": { "$add": [ "$likeCount", "$commentCount" ] }
  })
  .sort("popularity")
  .exec(function (err, res) {
      if (err) return handleError(err);
      con

[2019-01-11 14:56] aravindnc commented on #8
@yalcinmuhammed Closing this as the question is not directly related to this package.

[2019-01-11 14:56] #8 closed

[2019-01-17 10:40] schelkun opened #9 "MongoError: $where is not allowed in this context"
When I'm trying to query whith `$where` operator I'm getting this error (from my logs):

[code]

When I'm using `$where` with [legacy package](https://www.npmjs.com/package/mongoose-paginate) everything working fine.

[2019-01-17 11:14] aravindnc commented on #9
@schelkun Please share the query you used.

[2019-01-17 11:58] schelkun commented on #9
[code]

[2019-01-17 14:18] aravindnc commented on #9
@schelkun I need to check this. Give me some time.

[2019-01-17 16:00] aravindnc commented on #9
@schelkun  Are you sure that the same query works with the legacy package.

[2019-01-17 23:13] schelkun commented on #9
totally sure

[2019-01-18 06:31] aravindnc commented on #9
@schelkun The issue has been resolved. I will be uploading the fix today.

[2019-01-18 15:48] aravindnc commented on #9
@schelkun

Package has been updated with the fix https://www.npmjs.com/package/mongoose-paginate-v2/v/1.0.18

Please feel free to open this thread if you encounter the issue again.

[2019-01-18 15:48] #9 closed

[2019-01-22 11:43] ulidev opened #10 "Filter on paginate doesn't return the correct pagination metadata"
**Describe the bug**
In one project I'm using the version 1.0.13 and the pagination with filter works correctly (Return the correct pagination metadata). I installed the version 1.0.18 (latest one) and same query doesn't return the correct pagination metadata.

**To Reproduce**
Execute a simple pagination query:

Query:
[code]

Responses:
[code]

[code]
**Expected behavior**
Version 1.0.18 should

[2019-01-22 12:11] darinkolev commented on #10
It is beacuase of the 'count' method:

    const count = this.estimatedDocumentCount(query).exec();

instead of

    const count = this.countDocuments(query).exec();

[2019-01-22 13:19] schelkun commented on #10
In this case `$where` usage will impossible!

See commit: https://github.com/aravindnc/mongoose-paginate-v2/commit/ade72b351da73cd2db53fb2063559d2b15fd5a8e

[2019-01-22 14:42] aravindnc commented on #10
@ulidev  Can you share your MongoDB and Mongoose version, please.

[2019-01-22 14:47] aravindnc commented on #10
@darinkolev as @schelkun mentioned, estimatedDocumentCount() was added for $where fix. Let me see whether there are any other workarounds.

[2019-01-22 14:51] darinkolev commented on #10
My Env:
Mongo 2.6.7
Mongoose 5.4.5

in my case, with estimatedDocumentCount() I have wrong result even with < 20 documents

[2019-01-22 15:01] aravindnc commented on #10
@darinkolev I'm using Mongo 3.6 and is working perfectly. This might be the issue with estimatedDocumentCount() in 2.6.7. I need to dig in more.

[2019-01-22 15:57] darinkolev commented on #10
hmm...

@ulidev how about you? Which MongoDB Version do you use?

[2019-01-22 16:37] ulidev commented on #10
@aravindnc @darinkolev I'm using:
Mongo:
db version v4.0.3
git version: 7ea530946fa7880364d88c8d8b6026bbc9ffa48c
allocator: system
modules: none
build environment:
    distarch: x86_64
    target_arch: x86_64

Mongoose: 5.2.8

[2019-01-24 09:59] darinkolev commented on #10
@aravindnc don't forget that count() is deprecated and soon or later will not work:
` DeprecationWarning: collection.count is deprecated, and will be removed in a future version. Use collection.countDocuments or collection.estimatedDocumentCount`

[2019-01-24 14:31] aravindnc commented on #10
@darinkolev Right. We have to remove the $where dependency if so.

[2019-01-26 13:36] Gustav0ar opened #12 "Collection.count deprecation warning"
Do you plan to fix the deprecation warning for using the this.count?

 DeprecationWarning: collection.count is deprecated, and will be removed in a future version. Use collection.countDocuments or collection.estimatedDocumentCount instead

I'm using version 1.0.19

[2019-01-26 14:37] Gustav0ar opened #13 "Support collation"
**Is your feature request related to a problem? Please describe.**
At the moment when search or sort text, it doesn't support accents and other locale stuff

**Describe the solution you'd like**
Support collation
https://docs.mongodb.com/manual/reference/collation/

[2019-01-27 05:09] aravindnc commented on #12
@Gustav0ar $where will not work if we don't use this.count()
So I'm looking for a solution and will be updating the package as early as possible.

[2019-01-27 05:12] aravindnc commented on #13
I will be adding this in the next version.
@Gustav0ar Thanks.

[2019-01-28 14:58] aravindnc commented on #12
@Gustav0ar There is no other option I guess, we need to remove the support for $where.

[2019-01-28 16:02] Gustav0ar commented on #12
That's a shame, but fortunately $where isn't a requirement, just a helper for who likes to use SQL syntax

[2019-01-28 16:53] aravindnc commented on #12
@Gustav0ar New version has been updated with the fix removing the $where support.

[2019-01-28 16:56] aravindnc commented on #13
Collation support added and new package has been updated. You can pass `collation` inside options,
[code]

Let me know if you have any questions.

[2019-01-28 17:04] aravindnc opened #14 "Add projection support."
**Is your feature request related to a problem? Please describe.**
Adding projection support to find().

[2019-01-29 05:00] wishedy commented on #13
how to use populate

[2019-01-29 05:01] wishedy opened #15 "i don't understant how to use populate"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-29 06:43] Arjun-Shinojiya opened #16 "How to do search in datatable and showing related results only using this plugin"
I am using paginate v2 plugin for getting data into data table from the MongoDB server. I am successfully getting the result into data table with server-side pagination. But with using this plugin, my search is not working . Its doing nothing when I do a search but in default search array, I am getting the value in the console .I also tried to populate but It's giving me  **Cannot read property 'c

[2019-01-29 07:31] iubhatt17 commented on #16
I am getting the same issue as above.Please suggest me how to do search in table with this plugin. @aravindnc

[2019-01-29 08:41] Arjun-Shinojiya commented on #15
@wishedy https://github.com/WebGangster/mongoose-paginate-v2/issues/16

[2019-01-29 14:40] aravindnc commented on #16
@Arjun-Shinojiya Can you paste your exact error here, please.

[2019-01-29 15:35] aravindnc commented on #16
@Arjun-Shinojiya You've missed 'path' in your populate object. Otherwise, your query does not know what to populate.

Here is an example,
[code]

[2019-01-29 15:36] aravindnc commented on #15
@wishedy Here is an example,

[code]

[2019-01-29 15:37] #13 closed

[2019-01-29 15:38] aravindnc commented on #13
Please see the other thread. I've explained it there. Thanks.

[2019-01-29 15:38] #12 closed

[2019-01-29 15:40] aravindnc commented on #15
You can follow this for using populate,
https://mongoosejs.com/docs/populate.html

[2019-01-29 15:45] wishedy commented on #15
Thanks for your advice. Because of the time difference, I am at 11 o 'clock at midnight. When I turn on the computer tomorrow, I will try. Thank you again, and the plug-in you provided, this problem has been bothering me.

[2019-01-29 15:52] Arjun-Shinojiya commented on #16
Thank you @aravindnc.I resolved the issue in another way.

[2019-01-29 15:52] #16 closed

[2019-01-29 15:53] aravindnc commented on #15
@wishedy Thanks for using this. Feel free to open issues if you see anything.
Regarding populate, you just have to pass the populate object after understanding https://mongoosejs.com/docs/populate.html

Have a nice sleep.

[2019-02-01 16:40] aravindnc commented on #15
@wishedy Hope you got it resolved.
Please reopen this thread if you have any questions.

[2019-02-01 16:40] #15 closed

[2019-02-13 15:00] ilyahumbar opened #17 "The latest version doesn't work for MongoDB v <3.4"
Introduced recently collation support (#13) breaks backward compatibility with older MongoDB versions.

The following check is always true and doesn't actually serves its purpose described in the comment.
https://github.com/WebGangster/mongoose-paginate-v2/blob/fdd5aff180986018acd733c811f3fba4e40e08bc/index.js#L67-L70

[2019-02-13 15:48] aravindnc commented on #17
@ilyahumbar Can you try the updated version 1.0.21

[2019-02-13 15:55] ilyahumbar commented on #17
Yes. Works great.
Thank you for your quick response!

[2019-02-13 15:55] #17 closed

[2019-02-13 16:27] aravindnc commented on #17
@ilyahumbar Please feel to open a new thread if you see any issues.
Cheers & Happy Coding!

[2019-02-21 14:14] rimiti commented on #14
It will be very useful, you're right @aravindnc.

[2019-02-21 15:42] aravindnc commented on #14
@rimiti Will add this week itself.

[2019-02-22 19:47] rpkale opened #19 "Limit of zero returns all documents instead of just the metadata"
If limit is set to zero, all documents are returned instead of none.

This used to work earlier (at least till version 1.0.13) but
recent updates seems to have changed the behavior.

[2019-02-23 04:49] aravindnc commented on #19
@rpkale Thanks. I will check and get back today.

[2019-02-26 12:20] fernandolguevara commented on #19
@rpkale @aravindnc it seems to be a mongoose library bug

[2019-02-26 15:17] aravindnc commented on #19
@fernandolguevara Yes. You seems to be right. It seems to be the default behavior of mongodb.

[2019-02-26 15:53] aravindnc commented on #14
Thanks for the contribution @fernandolguevara

[2019-02-26 15:53] #14 closed

[2019-02-26 16:50] aravindnc commented on #19
@rpkale May be we can try for other alternatives. Can you tell me your use case ?

[2019-02-26 20:40] rpkale commented on #19
I did not update my mongodb/mongoose version but existing unit tests in our app started
failing after updating only mongoose-paginate-v2 to latest version. I had a unit test that was
testing the 'limit=0' case.

This is the way mongodb/mongoose always behaved but mongoose-paginate-v2 was designed
to behave differently. The documentation also reflected that:
'You can use `limit=0` to get only metad

[2019-02-27 02:37] aravindnc commented on #19
@rpkale No worries, I can fix it today. Can you share me the expected outcome while doing limit=0 query. A sample JSON output would be appreciated.
Thanks.

[2019-02-27 15:38] aravindnc commented on #19
@rpkale The issue is resolved. You can use limit=0 to get metadata only. Thanks for pointing out.
Please update to the latest version v1.0.23

[2019-02-27 15:50] #19 closed

[2019-02-28 16:06] aravindnc opened #20 "Aggregate pagination."
For all those who are looking for aggregate pagination, use this one.
https://www.npmjs.com/package/mongoose-aggregate-paginate-v2

[2019-03-04 00:59] ramoncardena opened #21 "Querying populated fields return empty array"
**Describe the bug**
When you query a subdocument that has been populated, the query returns empty array.

**To Reproduce**
Steps to reproduce the behavior:
1.- Create a Schema with populated fields.

[code]
2.- Create an endpoint to retrieve items from the new model using paginate with a filter using a populated field:
[code]

3.- Call the endpoint querying the populated field:

`{{server}}/proje

[2019-03-04 05:52] Leeiio commented on #15
[populate] {Array | Object | String} - Paths which should be populated with other documents.

How can i use two populate actions?

[2019-03-04 06:44] aravindnc commented on #15
@Leeiio You can pass populate object as an array. Below is an example,
[code]

[2019-03-04 14:29] FreeDevStan commented on #21
I'm also get empty array. I'm trying to get all document's, but I get empty array. My model:
[code]

[2019-03-04 15:17] aravindnc commented on #21
@ramoncardena  Can you explain your options object. I'm not sure about the values other than sort and lean.

[2019-03-04 15:20] aravindnc commented on #21
@FreeDevStan Can you share the output when page=1

[2019-03-04 17:21] ramoncardena commented on #21
@aravindnc the options are just an example:
Sorting by creation date, lean true, order 1, limit to 5 and populate maker field selecting just name.
[code]

But I was going to update the post because I think what it's happening it's expected. Populate occurs after executing the query (find or paginate) so, the subdocument I'm referring for the query is not populated yet, so the query returns empty.

[2019-03-04 17:56] aravindnc commented on #21
@ramoncardena That's Cool. Let me know if you have any queries.
Happy Coding!

[2019-03-04 21:36] ramoncardena commented on #21
I can confirm that aggregate-paginate-v2 works for my case. So, as the docs say, for simple cases use mongoose-paginate-v2, but for more complex cases aggregate-paginate-v2 is the right choice.

I my case I created an aggregation:

[code]
Where I use $lookup to 'join' the subdocument filled by populate before (maker). Then I use $match to apply the query and after that you can call aggregatePagina

[2019-03-05 02:12] aravindnc commented on #21
@ramoncardena Great. Cool.
You have to edit the write-up there is a typo,
[code]

[2019-03-05 08:41] Leeiio commented on #15
@aravindnc Thanks, but i can not find this usage in mongoose  doc. https://mongoosejs.com/docs/api.html#query_Query-populate

[2019-03-05 15:05] aravindnc commented on #15
@Leeiio Please check https://mongoosejs.com/docs/populate.html

[2019-03-05 15:06] aravindnc commented on #21
@FreeDevStan Let me know if the issue still persists or if you have any question.

[2019-03-07 18:15] abnervieraso opened #22 "mongoosePaginate.paginate.options doesnt take effect when I use someModel.paginate()"
Sorry for my english, but I'll try to explain this, Im new and this is my first report in my life :( :

**Describe the bug**
When I trying to set **set custom default options for all queries** and then use someModel.paginate() mongoose returns all data but the the default custom options doesnt not take effect, but when I set directly options to 'paginate()' params: example myModel.paginate({}, {so

[2019-03-07 19:08] aravindnc commented on #22
@abnervieraso Thanks for reporting this. I saw the issue now and I will be adding a fix tomorrow. Is that okay for you?

[2019-03-07 19:38] abnervieraso commented on #22
It's ok, thank you and happy coding.

[2019-03-11 16:07] aravindnc commented on #22
@abnervieraso The issue has been resolved. Please use the latest package.

[2019-03-11 16:07] #22 closed

[2019-03-13 15:23] #21 closed

[2019-03-18 16:25] nengine commented on #22
Sorry, I am posting here unrelated issue here.  Any help is appreciated on how to use async/await something like.

[code]

[2019-03-20 09:46] Tititrois opened #23 "Add paginator elements in an object"
Is it possible to have an option to add all elements in a json object instead of placing them in the root of the result?

[code]

[code]

Thanks !

[2019-03-20 14:57] aravindnc commented on #23
@Tititrois Can you tell me what exactly is your requirement.

[2019-03-21 02:30] Tititrois commented on #23
A solution I would enjoy is the ability to provides two labels in the options object to receive a personalized response:
- the first label changes the 'docs' field containing the data
- the second one envelop all elements of the paginator in an label.

Example:

- The options object:

[options] {Object}
[select] {Object | String} - Fields to return (by default returns all fields). Documentation
[c

[2019-03-21 07:40] Tititrois commented on #23
I just realized I missed i nthe documentation we can already personalized the name for 'docs'. Is it possible to add in this array a new value for the customLabelPaginator as describes in my message previously.
It could be added either in the options directly (like in my last message), or maybe in 'mycustomlabels' ?

Or second options there:
[code]

[2019-03-25 01:44] aravindnc commented on #23
@Tititrois Sorry for the delay. Let me see what I can do.

[2019-03-25 02:50] Tititrois opened #24 "Cast error on the "limit" option"
**Describe the bug**
I'm not sure if it's wanted or not, but I will still report it. When submitting the mongoose request, if the limit option is a string (for example "10"), it's returning an error. In my case, I receive the option list from some query params and thus, they are in a String format event for integer.
It's happening only for the limit option (page is working fine with a string).

**

[2019-03-27 14:58] aravindnc commented on #24
@Tititrois  Thanks for pointing this out.

[2019-04-03 15:21] osinakayah opened #25 "The hasNext paramter is always having false"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-03 15:26] #25 closed

[2019-04-19 14:57] qamalyanaren opened #27 "How to use projection?"
I want to use like this
`    const projection = { items: { $slice: -5 } }
    ProjectModel.model.find({}, projection);
`

[2019-04-21 01:09] TimGrell commented on #27
You should use `options` object
[code]

[2019-04-21 05:34] aravindnc commented on #27
@qamalyanaren Sorry for the delay.
Like @TimGrell said, you could use projection object inside the options.

[2019-04-21 18:20] qamalyanaren commented on #27
Can I use sort for nested array too?

[2019-04-21 18:33] TimGrell commented on #27
You could do it like this:
[code]

[2019-04-23 16:07] qamalyanaren commented on #27
done

[2019-04-23 16:07] #27 closed

[2019-04-24 15:36] aravindnc commented on #24
@Tititrois This has been fixed.

[2019-04-24 15:36] #24 closed

[2019-04-25 02:03] Tititrois commented on #24
Thanks !

[2019-04-29 02:48] romulo94 commented on #16
@aravindnc how? can you tell me, please?

[2019-04-29 15:01] aravindnc commented on #16
@romulo94 Can you tell me your query.

[2019-04-30 15:17] kerolloz opened #28 "customLabels"
**Describe the bug**
using custom labels, if you want for example to do the following `customLabels: {
      docs: 'posts'
    } ` this will result into discarding the other properties

**To Reproduce**
Steps to reproduce the behavior:
1.  `  const options = {
customLabels: {
      docs: 'posts'
    }
  };
`

**Expected behavior**
all the properties should exist

**Screenshots**
![image](https://u

[2019-04-30 19:18] aravindnc commented on #28
@kerolloz Thanks for pointing out. The issue has been resolved and I will publish the patch tomorrow.

[2019-05-01 17:36] #28 closed

[2019-05-03 23:55] pak11273 opened #29 "Wrong output"
**Describe the bug**
Output is false.
{
 totalDocs: 5,
  limit: 3,
  hasPrevPage: false,
  hasNextPage: false,
  page: NaN,
  totalPages: 2,
  pagingCounter: NaN,
  prevPage: null,
  nextPage: null
}

The output doesn't even make sense.

**To Reproduce**
Steps to reproduce the behavior:
options: {
  page: 1,
  lean: true,
  limit: 3,
  collation: {
    locale: 'en'
   }
}

**Expected behavior**
{

[2019-05-04 02:55] aravindnc commented on #29
@pak11273
I've tested it with the option you've shared and seems to be working well.
Below is my output.

[code]

Please try again.

[2019-05-04 15:34] pak11273 commented on #29
Okay supplying the page number a null value got me this error.  Thanks for looking at this.

[2019-05-04 15:34] #29 closed

[2019-05-04 15:36] pak11273 commented on #29
Just a side question.  Have you tested this on scale? (ie. 100,000+ users)

[2019-05-04 16:16] aravindnc commented on #29
@pak11273 Not really. I had a chance to test with with 1000 users max.

[2019-05-04 16:37] pak11273 commented on #29
No problem.  Good work on the library!

[2019-05-18 10:30] jaysalvat opened #30 "hasPrevPage and hasNextPage configurable"
Hello and thanks for sharing this lib :)

Why hasPrevPage and hasNextPage can't be changed?
Lot of APIs use a snake_case field naming as has_next_page / has_prev_page.

Thanks a lot.

[2019-05-18 15:38] aravindnc commented on #30
@jaysalvat Thanks for pointing out. I will make hasPrevPage/hasNextPage also configurable.

[2019-05-18 17:07] jaysalvat commented on #30
Thanks a lot!

Don't worry.
I'm working on some improvements right now.
I will make a pull request with this fix too.

[2019-05-18 17:07] #30 closed

[2019-05-18 18:04] jaysalvat commented on #23
Feature added to PR #31 if merged.

[2019-05-18 18:07] jaysalvat commented on #30
As promised, here is the PR #31 fixing this issue.

[2019-05-20 16:34] aravindnc commented on #23
@Tititrois This feature has been added.
Thank you for the contribution @jaysalvat

[2019-05-20 16:34] #23 closed

[2019-05-22 09:10] sarancruzer opened #32 "How to use mongoose pagination with multiple collections ?"
How to use mongoose pagination with multiple collections ?

[2019-05-22 10:40] aravindnc commented on #32
You should add this as a plugin to multiple collections separately.

If this is not what you are looking for then please explain your problem in detail.

[2019-05-26 02:06] aravindnc commented on #32
I hope your issue is resolved. Please reopen if you still having problem.

[2019-05-26 02:06] #32 closed

[2019-05-27 22:13] ajmas opened #33 "How to set limit = infinite?"
**Is your feature request related to a problem? Please describe.**

For certain specific situations I would like to be able to disable the limit, without needing to use find(). I did not see in the documentation if this was possible. I did try '-1' and 'undefined' as values, but neither worked.

Somewhere 'undefined' appears to be treated as zero, since the `perPage` values comes back as 0.

**Des

[2019-05-28 15:00] aravindnc commented on #33
@ajmas Can you share your expected output while doing limit as infinite.

[2019-05-29 12:37] ajmas commented on #33
I suppose it would be to act as if paging was disabled.

Thinking some more yesterday, another  workaround is simply to use an arbitrarily large limit.

[2019-05-31 15:11] aravindnc commented on #33
@ajmas Cool. Hope that serves your purpose.

[2019-05-31 21:37] #33 closed

[2019-06-21 18:25] kamaral75 opened #34 "Sort case insensitive option"
**Is your feature request related to a problem? Please describe.**
MongoDB sorts case sensitive by default. Sorted results are returned in case-sensitive order, so capital 'Z' is ordered before lowercase 'a'. It would be great to have an option to sort alphabetically in case-insensitive order.

**Describe the solution you'd like**
Create an option to set the 'sort' to be case insensitive.

[2019-06-22 00:56] kamaral75 commented on #34
Ah, this is already supported with the collation option. Thank you for creating such a useful module!

https://stackoverflow.com/questions/56708171/mongoose-pagination-case-insensitive-string-sorting/56710622#56710622

[2019-06-22 00:56] #34 closed

[2019-06-24 14:43] aravindnc commented on #34
@kamaral75 Thank you for the support.

[2019-06-24 14:48] #20 closed

[2019-07-11 00:38] ruslanguns opened #35 "If page is more than totalDocs then empty array"
**Describe the bug**
If I am sending higher page returns empty array.

**To Reproduce**
Data object is the result from query using paginate-v2. As you can see limit is fine asking for more data in the query, the issue only happens with page (per_page).

**Expected behavior**
Should return last page available, or validation error.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2019-07-11 02:34] aravindnc commented on #35
@ruslanguns
You can always check hasPrevPage/NextPage OR totalPages to see if next page has data or not.

[2019-07-11 12:41] mkastner opened #36 "Provide Cursor itself"
**Is your feature request related to a problem? Please describe.**
I'd like to resolve the paginated result in GraphQL. Therefor I need a Cursor.

**Describe the solution you'd like**
Providing the Cursor itself.

**Describe alternatives you've considered**
Using primary keys as cursors in order to resolve to edges in GraphQL, but that's considered problematic.

[2019-07-11 14:13] ruslanguns commented on #35
Can you please show me an example of this validation?

[2019-07-11 15:05] aravindnc commented on #35
I mean do not snow page 2 if you get hasNextPage = false while getting response from page = 1.
ie.
if hasNextPage == true
then load next page
else stop loading further pages

[2019-07-11 21:27] ruslanguns commented on #35
Oh yes, I understand the work around, I am actually printing an Exception Error when someone is paging to pages that does not exists, however my guess it that the library should validate this arg with a default action as a default, for example, show the last page possible.

[2019-07-11 21:27] #35 closed

[2019-07-13 07:09] aravindnc commented on #36
@mkastner  Can you share the proposed output format.

[2019-07-22 16:53] davidsierradz opened #38 "Incorrect interaction with 'mongoose-delete'"
**Describe the bug**
If I pass the `Query` object from `findWithDeleted()` method of [dsanel/mongoose-delete: Mongoose Soft Delete Plugin](https://github.com/dsanel/mongoose-delete#method-overridden) to `paginate` I get a missmatch between the `totalDocs` and `docs`.

**To Reproduce**
1. Check this gist: [`mongoose-paginate-v2` and `mongoose-delete`](https://gist.github.com/davidsierradz/b82bcab1d

[2019-07-24 02:47] aravindnc commented on #38
@davidsierradz This is not a general use case I guess. So may have to create a new branch for this.

[2019-07-24 12:30] davidsierradz commented on #38
Sure, I'm ok with a fork, but I think this shouldn't be a breaking change:

[code]

Btw, awesome plugin, thanks!

[2019-07-24 14:27] aravindnc commented on #38
@davidsierradz You're the best! I will add it this to the package if similar request comes again.

[2019-08-05 14:53] otaviobps commented on #21
Hi @ramoncardena how did you do your query? I'm getting an empty array when I try to query a field of the populated collection:

[code]
If I skip the query, I get the fields populated, so I'm sure is something with the query. I'm using the `mongoose-aggregate-paginate-v2`, however I can't query from a populated field.

Thanks!

[2019-08-13 19:49] yuqing630 opened #39 "TotalDocs returning 0 while there is result"
when trying to run this
somthing.paginate(filters, options, (error, result) => {
            if (error) {
                errorHandler(res, error);
            } else {
                res.status(statuses("ok")).send({
                    result.docs,
                    result.totalDocs
                });
            }

option={ populate: [ 'images' ],
  sort: { 'date.created': 'desc' },
  limit

[2019-08-14 02:02] aravindnc commented on #39
@yuqing630 Can you share the query used in **filters**.

The format is: Model.paginate([query], [options], [callback])

[2019-08-14 02:08] yuqing630 commented on #39
"filters" = { "id" :
    {
        [
          '0123456789abcdef01234567',
           '1123456789abcdef01234567'
         ]
     },
     { "product":
        [
           "4839"
         ]
     }
}

[2019-08-21 10:51] nyce-gh commented on #33
The [mongodb-documentation](https://docs.mongodb.com/manual/reference/method/cursor.limit/#zero-value) says

It seems that this was possible with this plugin, too - until #19.

It would make sense to comply with the standard. Using the listed tricks (like setting a very large limit or disabling the complete pagination) doesn't feel good.

[2019-08-26 04:27] kerolloz opened #40 "mongoose-paginate-v2 overrides mongoose types"
**Describe the bug**

`mongoose paginate` overrides the types provided by `mongoose`.
mongoose paginate should only add its own types and leave mongoose types as it is.

**To Reproduce**
- use TypeScript
- in package.json
[code]

**Expected behavior**

This code should throw an error but becuase mongoose-paginate overrides types provided by mongoose this code works.

**Code**
- [without mongoose p

[2019-09-03 21:40] threewordphrase opened #41 "Confused - is this cursor-based, or page-based?"
Is there a succinct explanation of how this package works? It looks like this is a page-based wrapper around cursor pagination, but aside from the first line of the readme there is no mention of cursors. I'm just looking for a one-paragraph explanation about how this works and why it's better.

[2019-09-07 22:23] vrufine opened #42 "Can't paginate queries using $geoNear, $near, and $nearSphere"
**Describe the bug**
When I run a Model.paginate(query) where `query` needs to filter elements by a 2dsphere index using $geoNear (in my case), the response is an error with the message `$geoNear, $near, and $nearSphere are not allowed in this context`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Create a "2dsphere" index pointing to a model property.
3. Run the mo

[2019-09-08 00:02] vrufine commented on #42
#43

[2019-09-13 08:28] buitranduong opened #44 "TypeError: this.countDocuments is not a function"
at Function.paginate (/app/node_modules/mongoose-paginate-v2/dist/index.js:104:27)

My Model

const mongoose = require('mongoose');
const mongoosePaginate = require('mongoose-paginate-v2');
const CustomersDraftSchema = new mongoose.Schema({
.........
});
CustomersDraftSchema.plugin(mongoosePaginate);
module.exports = mongoose.model('customers_draft', CustomersDraftSchema);

[2019-09-18 14:59] aravindnc commented on #44
@buitranduong Seems to be something wrong with the model.

[2019-09-18 17:00] #42 closed

[2019-09-18 17:01] aravindnc commented on #44
@buitranduong Please try the new version and see if the issue exists.

[2019-09-18 17:18] #44 closed

[2019-09-18 17:19] aravindnc commented on #36
Please reopen if needed.

[2019-09-18 17:19] #36 closed

[2019-09-25 17:00] dessam opened #46 "Retrieve all results"
Is there currently a way I've missed/a planned change to allow this pagination library also to retrieve all results for a query. Or will this only ever return paged results?

I could use a default very large number to return all results, but it would be great to not have to.

[2019-09-26 02:24] aravindnc commented on #46
@dessam As the package name says it is planned to return paginated results only. But I can try adding it as an option to return all results.

[2019-10-07 02:27] aravindnc commented on #41
- It is page-based.
- Easy to customize the return labels.
- Easy to implement minimize the LOC.
- No other package dependencies.

[2019-10-07 02:27] #41 closed

[2019-10-07 02:27] aravindnc commented on #39
@yuqing630 Can you try this in the new version.

[2019-10-09 15:44] doxpi opened #47 "option select does not work correctly"
**Describe the bug**
When i use a select in the option object like  const options = {select: "label"} , this does not affect the result and i have the complete document and not only the label....

When i use the negate select , this work correctly ! For example if i use const options = {select: "-label"} , i have the document without the label.

My Code
`let { latitude, longitude, maxDistance } =

[2019-10-10 02:42] aravindnc commented on #47
@doxpi Can you try updating mongoose to latest 5.7.4 and see if the similar issue exists.

[2019-10-10 18:53] aravindnc commented on #47
@doxpi  Have you tried **select** option like this,

`
select: {
        label: 1
},
`

[2019-10-11 08:03] doxpi commented on #47
Yes i did but no effect , same problem ....

[2019-10-12 15:03] chaoningx opened #48 "heap out of memory"
When there is 200,000 data, the component will report an exception “heap out of memory”；

my sql:

db.getCollection('files').find({type: '0', status: '1000', category: { $in: ['0', '1', '2', '3'] }}).sort({ createdTime: -1 }).limit(100)

[2019-10-12 16:29] aravindnc commented on #48
@chaoningx  Have you tried the same query without using mongoose-paginate? Did that work without error?

[2019-10-12 16:29] aravindnc commented on #47
@doxpi I will take a look.

[2019-10-15 15:56] yuqing630 commented on #39
ok will do

[2019-10-16 16:12] JakupPepa commented on #48
Also had a memory issue but only occurred with the version 1.3.1.
Don't think the size of the documents was the problem in my case.
I enabled debugging in mongoose and the query that should have been run for getting the count was a little bit weird:
`[COLLECTION_NAME].find({ 'name': 'something' }, { projection: {} })
`
After going back to  1.3.0, the debugging log showed to following:
`[COLLECTION

[2019-10-17 07:45] ingvarr6 commented on #39
Hi @aravindnc. I ran into a similar problem. If in the option add

[code]
My query looks like this:
`{'price.forsale': {'$gte': '0', '$lte': '1000000'}}`

then the number of documents is calculated incorrectly, it seems that because when the counting of the found documents is in progress, the collation does not apply
https://github.com/aravindnc/mongoose-paginate-v2/blob/05a8a987d4a1f8bce2ddd21bbf

[2019-10-17 16:35] aravindnc commented on #39
@ingvarr6 I've just tested with 1,00,000 rows of data and it is working fine with v1.3.1.
I'm correctly getting the totalDocs count.

[2019-10-17 17:13] aravindnc commented on #39
@ingvarr6 I've added collation to the new version. Thanks for pointing out.

[2019-10-17 17:16] aravindnc commented on #47
@doxpi The **select** seems to be working fine as usual. I've just tested it.

![image](https://user-images.githubusercontent.com/495110/67031817-f5235080-f12f-11e9-8801-843106c823f0.png)

[2019-10-18 12:28] hotdream1990 opened #49 "Slow query when perform heavy database"
**Describe the bug**
The plugin take very long time when perform the database that have over 100.000 records, and each record having big data.

**To Reproduce**
Steps to reproduce the behavior:
1. Configuration to get paging query for get 10 items in over 100.000 records
2. Take a look how long to query process data and response

**Actual result**
Take more than 10s for the query

**Expected behav

[2019-10-18 14:14] aravindnc commented on #49
@hotdream1990 Can you try v1.3.0

[2019-10-18 23:48] hotdream1990 commented on #49
Sound good after rollback to version 1.3.0.
Time reduce by 10 times.
![image](https://user-images.githubusercontent.com/4935307/67134468-72d48280-f23c-11e9-84a8-9b98c17ce98a.png)

Thank you so much.

[2019-10-18 23:49] #49 closed

[2019-10-20 00:53] jinvillaz opened #50 "Delay on retrieve items"
**Describe the bug**
There is a problem on retrieve elements from mongodb, this take 45 seconds or more.
I'm working with big data 1 million documents.

this is my code:

const page = parseInt(query.page);
const limit = parseInt(query.limit);
const options = {
        page: !isNaN(page) ? page : 1,
        limit: !isNaN(limit) ? limit : 20,
        sort: { createdAt: -1, updatedAt: -1 },
        s

[2019-10-20 05:44] aravindnc commented on #50
@jinvillaz
Can you try v1.3.0 for the time being it should work.
https://www.npmjs.com/package/mongoose-paginate-v2/v/1.3.0

[2019-10-21 00:37] jinvillaz commented on #50
@aravindnc the speed is better but continue been slow than the normal query.
20.825

[2019-10-21 15:59] aravindnc commented on #50
@jinvillaz I haven't tested with heavy data. I will get back to you shortly on this. Thanks

[2019-10-23 11:22] miro-balaz commented on #48
The issue is caused by loading entire dataset in `countQuery`, instead of calling `countDocuments`

[2019-10-23 14:42] aravindnc commented on #48
@miro-balaz countDocs was later switched to countQuery to add new select capabilities like $near etc..
It seems I may have to revert it to the countDocs.

[2019-10-23 14:44] aravindnc commented on #48
@miro-balaz #42

[2019-10-23 17:07] aravindnc commented on #50
@jinvillaz Issue fixed. Please switch to the latest version (v1.3.3).

[2019-10-23 17:07] #50 closed

[2019-10-23 17:09] aravindnc commented on #42
@vrufine Update

Below are the operators that count() supports but countDocuments() does not, and the suggested replacement:

$where: $expr
$near: $geoWithin with $center
$nearSphere: $geoWithin with $centerSphere

[2019-10-23 17:12] aravindnc commented on #48
@JakupPepa @miro-balaz @chaoningx Issue fixed. Please update to v1.3.3

[2019-10-23 17:12] #48 closed

[2019-10-23 17:17] aravindnc commented on #39
@yuqing630 @ingvarr6 Please feel to reopen this thread if the issue exists.

[2019-10-23 17:17] #39 closed

[2019-10-24 16:17] zhaojunlike opened #51 "sorry, At present there are related performance test data analysis plugin, please"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-25 02:16] aravindnc commented on #51
@zhaojunlike Are you using the latest version v1.3.3?

[2019-10-25 03:53] zhaojunlike commented on #51
thx your reply ,i am using v1.3.2

old codes,  16ms
[code]

use paginate: 1532ms
[code]

[2019-10-25 03:57] zhaojunlike commented on #51
wow, v1.3.3 is very fast What's the difference between two version, please

[2019-10-25 04:02] zhaojunlike commented on #51
I also don't know why I isntall the old version,

[2019-10-25 15:09] aravindnc commented on #51
You can refer #48

[2019-10-25 15:09] #51 closed

[2019-10-26 20:33] mpcen opened #52 "Model.Paginate is extremely slow when collection size starts to grow (5000+)"
**Describe the bug**
Calling await SomeModel.paginate({}, options) is awfully slower compared to using mongoose-paginate of even await MyModel.find().limit(n).sort({ property: n }). Started noticing the issue as my collection grew in size.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a time-base collection with a lot of documents (5000+)
2. Add proper indexing
3. Paginate n values,

[2019-10-27 04:45] aravindnc commented on #52
@mpcen You must be using old version. Try v1.3.3

[2019-10-27 08:49] mpcen commented on #52
I was using 1.3.1. I will try with 1.3.3, thank you!

[2019-10-27 21:01] mpcen commented on #52
@aravindnc  I have upgrade and the issue seems to be resolved!

[2019-10-27 21:01] #52 closed

[2019-10-29 22:09] dimitor115 commented on #46
@aravindnc I can prepare dedicated PR, if you would like to :smile:
This issue is waiting about month and today I met the same problem, so it will be nice to implement such option.

[2019-10-30 02:26] aravindnc commented on #46
@dimitor115 I can implement this if there are more requests coming up in this thread.

[2019-10-30 08:10] dimitor115 commented on #46
@aravindnc It would be nice. As I checked briefly the code it requires changes in just a few lines, and in my opinion, it's quite natural behavior that if you don't provide any options you just get all elements.

[2019-10-30 14:56] aravindnc commented on #46
@dimitor115 I will do an update this week.

[2019-11-14 16:46] aaisa opened #53 "Select returned fields in paginate query"
Hi,
I am using mongoose v5.7.8 and mongoose-paginate-v2 v1.3.3.
I want to know if is possible to make a paginate query selecting which fields will return.
i.e: User.findById(req.params.id, '_id name')
This will returns only _id and name fields from my User Model.

Thank you.

[2019-11-14 17:47] aravindnc commented on #53
@aaisa Try like this,

`
var query = {
        title: {
          $in: [/Book/i]
        }
      };

var options = {
        limit: 10,
        page: 1,
        **select: {
          title: 1,
          price: 1
        }**
      };
      return Book.paginate(query, options).then((result) => {})
`

[2019-11-16 15:13] aaisa commented on #53
@aravindnc It works perfectly.
Thank you!

[2019-11-16 15:13] #53 closed

[2019-11-18 07:22] aravindnc commented on #46
@dessam @dimitor115
This is implemented.
https://github.com/aravindnc/mongoose-paginate-v2#fetch-all-docs-without-pagination

[2019-11-18 07:22] #46 closed

[2019-11-18 08:14] aravindnc commented on #40
@woutgg Can you take a look at this.

[2019-11-19 22:27] LuigiPolidorio opened #54 "Page, pagingCounter, hasPrevPage, hasNextPage, prevPage and nextPage don't work when using offset"
When I try to paginate by offset:
[code]
It's don't calculated the page, consequently the result parameters: pagingCounter, hasPrevPage, hasNextPage, prevPage, nextPage doesn't work.

Result:
[code]
Solution:
src/index.js
add this line above line 151:
[code]

Patch:

[code]

[2019-11-20 02:19] aravindnc commented on #54
@LuigiPolidorio Thanks. Let me take a look.

[2019-11-20 12:36] #54 closed

[2019-11-20 17:34] TopHatMan opened #55 "dist is in git ignore so module is not loaded."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-20 17:38] aravindnc commented on #55
Today's update messed it up.

[2019-11-20 17:47] aravindnc commented on #55
Today's auto-publish to NPM caused this issue. Fixed now.

[2019-11-20 17:47] #55 closed

[2019-12-16 11:37] adripanico commented on #40
Is there any updates regarding this?

Maybe I can help, but I need more info about the root of the problem.

[2019-12-16 15:51] aravindnc commented on #40
@kerolloz

[2019-12-19 10:00] AravindBoddu4 opened #57 "Getting error, "this.countDocuments is not a function" in version 1.3.52"
**Error**
I've been using this module of version 1.3.0. Till now it didn't give any errors. But when I updated this to latest version(1.3.52), it throwing an error like, "this.countDocuments is not a function".

**My Code**
[code]

[2019-12-19 10:21] aravindnc commented on #57
Can you please update your Mongoose version to the latest one. @AravindBoddu4
Let me know if the issue persists.
Ref: #4

[2019-12-19 10:27] AravindBoddu4 commented on #57
Thanks for the response, @aravindnc
Yeah, I've updated to the latest version(1.3.6). Sorry, I mentioned the wrong version(1.3.59) in the issue I posted earlier. But still I'm getting this issue.

[2019-12-19 10:42] aravindnc commented on #57
@AravindBoddu4 I mean about updating Mongoose package. 5.8.1 is the latest. Thanks.

[2019-12-23 00:05] AravindBoddu4 commented on #57
Hi, thanks for the reply. I've updated the Mongoose to the latest version.
Yeah the same problem is replicating in the latest version of mongoose too.

On Thu, 19 Dec 2019, 4:12 pm Aravind NC, <notifications@github.com> wrote:

[2019-12-23 02:23] aravindnc commented on #57
@AravindBoddu4 Can you tell me your MongoDB Version?

[2019-12-23 05:03] AravindBoddu4 commented on #57
I'm little bit confused. I don't have either mongoose or mongodb in my
package.json file. But in my package-lock.json file, I've both of them. In
which, mongoose of version, 4.13.19 and mongodb's version is, 2.2.34
Even after not having them both in package.json file, the whole CRUD
operations are working fine. How is this possible? and what would I need to
do now to replicate this problem in newe

[2019-12-23 18:29] aravindnc commented on #57
You should update your Mongoose version to the latest one for this to work 4.13 is pretty old.
@AravindBoddu4

[2019-12-23 18:30] aravindnc commented on #57
You might have missed -s switch while installing the packages.

[2019-12-24 05:14] AravindBoddu4 commented on #57
What does -s switch mean? Does it impact the version of modules?

On Tue, Dec 24, 2019 at 12:00 AM Aravind NC <notifications@github.com>
wrote:

[2019-12-25 13:17] deepakkumardk opened #58 "Paginate the subdocument of a schema"
How to paginate the sub-document of a schema. The model has array of sub-document as of a book can have many authors and I want to paginate the authors.
How to achieve this.

[2019-12-26 08:24] aravindnc commented on #58
Use aggregate and $unwind.

[2019-12-26 08:25] aravindnc commented on #57
@AravindBoddu4 For saving modules to package.json.
Have you tried updating all your modules? The issue is due to the older version of Mongoose.

[2019-12-28 02:09] SatyaPenmetsa opened #59 "Multiple populate issue"
when using multiple populate, getting only last populate data.

[2019-12-28 06:31] aravindnc commented on #57
@AravindBoddu4 Hope you got it right! Please reopen this thread if you need any help.

[2019-12-28 06:31] #57 closed

[2019-12-28 06:31] aravindnc commented on #59
@SatyaPenmetsa Can you share your code.

[2019-12-28 06:33] aravindnc commented on #58
@deepakkumardk You can use my another plugin for aggregate pagination https://www.npmjs.com/package/mongoose-aggregate-paginate-v2

[2019-12-28 06:33] #58 closed

[2019-12-28 06:50] SatyaPenmetsa commented on #59
const options = {
        page: 1,
        select: 'site info',
        populate: { path: 'traffic', select: 'organic' },
        populate: { path: 'information', select: 'owner'},
        limit: 10,
        collation: {
          locale: 'en'
        }
      };

Sites.paginate({ status: 1}, options, function(err, result) {
  console.log(result);
}

[2019-12-28 07:08] oltdeveloper01 commented on #59
@SatyaPenmetsa As of now, the lib supports one populate only. I will take a look today and will get back.

[2019-12-28 07:09] aravindnc commented on #59
@SatyaPenmetsa As of now, the lib supports one populate only. I will take a look today and will get back.

[2020-01-13 09:34] gezimapi opened #60 "$group"
hi ,

can i use $group in this library.

if yes can u write an example in the documentation.

Thanks in advance

[2020-01-13 09:55] aravindnc commented on #60
For aggregation please use mongoose-aggregate-paginate-v2

[2020-01-13 11:46] KondrashovKonstantin opened #61 "One document always lost"
**Sumary:**
In first response (1 page, 4 items) i can see that total document count is 6, but when i sent second request (for 2nd page) it says that total count of douments is 5, and sent only one document in array. If i change items per page to 5 - secon request will sent empty array too. I don't understand why one documents always is lost

[code]

**FYI**
If I remove {$ regex: search, $ options:

[2020-01-13 12:13] #60 closed

[2020-01-14 10:25] ekumahost opened #62 "TypeError: User.paginate(...).select is not a function"
this script has been working since, wake up today and its throwing error. here is the code snippet.

    User.paginate({ user_id : 1, status : 'active'}, paginate_options)
                    .select('product_name image_url unit_price category discount unit')
                    .then((catalog) => {...

if i remove the .select section it works, I am wondering if an update was pushed that is causin

[2020-01-14 10:30] ekumahost commented on #62
please I have seen documentation and put the select inside [options] and it works. my concern is why was it working before and stopped all of a sudden.

[2020-01-14 10:30] #62 closed

[2020-01-15 18:56] aravindnc commented on #61
@KondrashovKonstantin
I've tested with regex and seems working fine for me.

Can you share sample code + test data to test the scenario.

[2020-01-15 19:07] aravindnc commented on #59
@SatyaPenmetsa Apologies for the delay.

Regarding your query, you can pass populate object as array. Like below,

[code]

[2020-01-15 19:07] #59 closed

[2020-01-15 19:08] aravindnc commented on #40
Closing this as typescript version is not managed here.

[2020-01-15 19:08] #40 closed

[2020-01-16 23:01] KondrashovKonstantin commented on #61
@aravindnc thanks for help, i already fix it buta doesn't now how :)

[2020-01-16 23:01] #61 closed

[2020-01-31 08:16] insmile commented on #4
In my case, I succeeded in the version below.
mongoose-databable 1.0.6

[2020-01-31 08:21] aravindnc commented on #4
Thanks for sharing.

[2020-02-23 01:01] creditcoder opened #64 "The query to select the document that the child array's length is greater than 0"
[code]

For this collection, I want to select documents that the report array's length is greater than 0.
[code]
Here result1 returns an empty array, and result2 returns correct arrays.
I'm not sure what's the problem for the query1.

The strange thing is that the query1 works well in the MongoDB shell.
The MongoDB version is 4.2.

[2020-02-27 16:39] aravindnc commented on #64
I will check it this week.

[2020-03-03 19:13] aravindnc commented on #64
@creditcoder Can you try running query1 in mongoose and see if that is working. I did and I got null as result. So I dont think this will work with nodejs driver.

So here are some alternatives,

Refer:
https://mkyong.com/mongodb/mongodb-find-all-documents-where-an-array-list-size-is-greater-than-n/

[2020-03-24 14:15] chdanielmueller opened #65 "Edge case with changed limit on second page"
Hi there,

I hit an edge case where someone used a result limit of 5 items, navigated to page 2, changed the limit to 10 items and can not navigate backwards.

**Current:**
offset = 5, limit = 10
-> hasPrevPage = false, prevPage = null

**Expected:**
offset = 5, limit = 10
-> hasPrevPage = true, prevPage = 1

I have already written a test for this case and the solution.
PR follows shortly.

Cheers

[2020-03-27 06:58] #65 closed

[2020-03-31 21:10] antoniojps commented on #42
@aravindnc Those are not a replacement.

Both the $near and $nearSphere queries return the documents from nearest to farthest while the #geoWithin does not.

This are completely different queries and should not be seen as a replacement.

Is there anyway to use count() with this package?

[2020-04-01 08:15] aravindnc commented on #42
@antoniojps
This is a know issue with countDocuments(). So that is why I've excluded those in the plugin.

https://docs.mongodb.com/manual/reference/method/db.collection.countDocuments/#query-restrictions

mongoose-paginate supports this because it is using count() which is a deprecated method.

[2020-04-01 09:44] aravindnc commented on #42
@antoniojps I'm going to add a patch to use count() if needed. Let me know if that helps.

[2020-04-01 10:46] aravindnc commented on #42
This has been fixed, you can use **forceCountFn** as true in options if you need to use $geo queries.

[2020-04-02 08:41] louisnow opened #70 "Releases on github not in sync with npm releases."
**Is your feature request related to a problem? Please describe.**
I'm not sure what has changed between versions, whether it's just bugs or features.

**Describe the solution you'd like**
Preferably  a CHANGELOG.md file or have the releases on GitHub contain the changelog.
I prefer CHANGELOG.md as you can maintain the file in source control and add to it as you implement new features or bugfixes.

[2020-04-02 08:52] antoniojps commented on #42
@aravindnc I'm impressed, thank you very much for the open source work you do.

[2020-04-02 10:24] aravindnc commented on #70
Updated the releases. Thanks.
https://github.com/aravindnc/mongoose-paginate-v2/releases/tag/v1.3.9

I will add CHANGELOG from next build onwards.

[2020-04-03 12:41] zPhumzani opened #71 "Get Random Results not sorted"
**Is your feature request related to a problem? Please describe.**
Random results, Is the way to get random results unsorted.

**Describe the solution you'd like**
Example this code to return unsorted random results
`const randomJokes = await Joke.paginate({}, options);`

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

Thank You

[2020-04-03 13:30] aravindnc commented on #71
@zPhumzani That depends on how you are querying the collection, you can google it to find different methods.
Ex: https://stackoverflow.com/questions/24806721/mongodb-how-to-find-10-random-document-in-a-collection-of-100

There is no direct option in the plugin for this.

[2020-04-03 13:58] zPhumzani commented on #71
@aravindnc  Thanks, been tackling pagination for days, now final found the right tool and then ran into this random results wall but i been trying [mongoose-aggregate-paginate-v2](https://github.com/aravindnc/mongoose-aggregate-paginate-v2), think will come right there

[2020-04-03 14:03] #71 closed

[2020-04-03 18:59] VZnode opened #72 "Sort in query options not working correctly"
**Describe the bug**
Sort not working as expected, have 20.000 records and if i use sort in queryOptions can't get page number greater than 339 it simply returns empty array? If I remove sort from options works well.

totalDocs: 20044
limit: 20
totalPages: 1003
page: 339
pagingCounter: 6761
hasPrevPage: true
hasNextPage: true
prevPage: 338
nextPage: 340

**To Reproduce**
const domain: QueryPopulat

[2020-04-04 04:49] aravindnc commented on #72
@VZnode  Can you try adding an index for createdAt field, then try the query again.

[2020-04-04 12:20] VZnode commented on #72
@aravindnc Yes index solved that problem and query is faster too.
Just to be clear, can you explain why I need index because if I use native find() and sorting by cteatedAt its works. Is it something with plugins specifics?
Thanks :)

[2020-04-04 18:34] aravindnc commented on #72
@VZnode Cool. That's great.

To your question,

[2020-04-05 14:04] zPhumzani commented on #71
Solved:
code below for anyone that may want get random results from mongodb
add a random number field to your mongoose Schema e.g
[code]
then to your routes/controller call offset and sort by the random field
[code]

[2020-04-06 10:40] #72 closed

[2020-04-14 15:09] #70 closed

[2020-04-16 10:27] shahyar commented on #41
If it's page-based, can you update the readme so that it doesn't claim to be cursor-based on npm?

[2020-04-19 13:49] kalitas opened #74 "error in typescript after npm i: version 1.3.9; types version 1.3.2"
node_modules/@types/mongoose-paginate-v2/index.d.ts:73:9 - error TS2411: Property 'hasPrevPage' of type 'boolean' is not assignable to string index type 'number | T[]'.

73         hasPrevPage: boolean;
[code]

[2020-04-20 03:58] aravindnc commented on #74
Sorry @kalitas I'm not the one maintaining the TS version.

[2020-04-20 07:57] kalitas commented on #74
dont you care about though?

On Mon, Apr 20, 2020 at 6:58 AM Aravind NC <notifications@github.com> wrote:

[2020-04-20 09:07] aravindnc commented on #74
Sorry I'm not proficient in TS though. Let's see if somebody can contribute.

[2020-04-20 09:10] aravindnc commented on #64
@creditcoder Please reopen if you got any solution and want to share.

[2020-04-20 09:10] #64 closed

[2020-04-21 13:18] kalitas commented on #74
I added a pull request and waiting for approval..

[2020-04-30 02:25] otaviobps opened #75 "Paginate the populated field"
I have three schemas: Users, Recipients, Orders. The Users schema stores the Orders _id, and the Orders schema stores the recipient _id of the order.

I'm making this query:

[code]

This returns an array with the User, all his orders and the recipient of each order:
[code]

The query runs fine, however since I'm querying the User schema, and only one document returns from the query, the plugin wo

[2020-05-13 14:26] rvbonfimm commented on #74
I believe that this error is occurring by the [customLabel] property inside the PaginateResult interface.

Look that the error message is saying that the [nextPage / prevPage / hasPrevPage / hasNextPage] type definitions is not assignable to "string index [number | T [] | undefined] - property [customLabel] type definitions.

Addding the missing types "null and boolean" (from nextPage / prevPage /

[2020-05-14 16:01] sayhicoelho opened #76 "Add an option to replace the default .find method"
**Is your feature request related to a problem? Please describe.**
I'm trying to make use of .findDeleted method when using the [mongoose-delete](https://www.npmjs.com/package/mongoose-delete) library instead of using .find.

**Describe the solution you'd like**
I want to pass an option to .paginate like:
[code]

**Describe alternatives you've considered**
I don't know any alternatives yet.

**Add

[2020-05-21 07:41] BGOnline-CN opened #77 "About querystring，Strange phenomenon is _id can be an object"
[code]
I mistakenly passed an object to _id, the terrible thing is to find the correct data

[2020-05-22 02:04] BGOnline-CN commented on #76
querystring transfer ```deleted: true```

[2020-05-22 11:42] sayhicoelho commented on #76
This would be a nice alternative. Thanks.

[2020-06-03 09:36] jeffrey008 opened #78 "Allows page starts at 0"
It would be nice if we can decides whether the page starts at 1 or 0.
Since my front-end uses `mat-paginator`, it queries back-end with `{pageNumber: 0, pageSize: 10}`
The back-end will throw: `Skip value must be non-negative, but received: -10`

[2020-07-01 12:46] cabezayunke commented on #27
Hi I'm using Typscript, and in the latest version (1.3.7 at the moment) of `@types/mongoose-paginate-v2` there is no `projection` in the PaginateOptions interface, so the compiler fails...

[code]
[code]

[2020-07-02 07:24] aravindnc commented on #27
#74

Yes TS version is not updated. Need help from TS Experts.

[2020-07-04 02:16] joemckie commented on #41
https://github.com/aravindnc/mongoose-paginate-v2/raw/master/static/banner.jpg

It literally claims to be cursor based at the very top of the README 😕 this is a little misleading!

[2020-07-11 05:23] aravindnc commented on #41
@joemckie  Thanks. I've updated the image.

[2020-07-11 05:24] aravindnc commented on #76
@sayhicoelho Have you resolve your issue ?

[2020-07-11 15:00] sayhicoelho commented on #76
@aravindnc Fixed with `overrideMethods: false` and finding data with `{ deleted: { $ne: true } }`.

[2020-07-11 15:00] #76 closed

[2020-08-03 07:58] victormongi opened #80 "How to paginate subdocument"
How to paginate subdocument?

[2020-08-08 23:20] rmtuckerphx opened #81 "How to get $project to work with mongoose and paginate?"
I have the following $project working in Mongo Playground:

[code]

I tried to get the following to work with paginate, but it doesn't appear that the nesting of $data.Body or the $dateToString is working.

**Should this work with paginate and options.projection?**

[code]

[2020-08-08 23:43] rmtuckerphx commented on #81
Do I have to choose between **aggregate** and **paginate**?
Is there a way to set up the field projection and still use the **paginate** function?

[2020-08-09 00:19] fdorantesm commented on #80
Only works for models. You could use a relation model if document count will be "unprocessable".

[2020-08-14 09:08] victormongi opened #82 "Return certain field, using select not working"
Return certain field, using select not working

[2020-08-14 09:08] victormongi commented on #80
Do you have an example?
Thank you for the reply..

[2020-08-14 09:18] #82 closed

[2020-08-20 10:43] utkarsh27a opened #83 "it make id field undefined, if I set lean: true"
**Description**
Either there is an issue with implementation of `lean` & `leanWithId`, or the docs needs an update

In collection schema I have both fields _id(mongo object id) and id(uuid) with some other fields. I'm using options:
`options = {
  select: { "_id": 0, "__v": 0 },
  lean: true
};`
So it should return all fields(without _id and __v) of the documents,
It's returning all fields but  ma

[2020-09-01 05:34] wjteo opened #85 "pagination: false does not fully ignore limit"
Not sure if this is a bug, or expected behaviour, I realised because of issue #19, when limit is set to undefined or 0, only metadata is returned.

However this is also true when pagination is set to false, i.e.

{limit:0, pagination:false}
or
{limit: undefined, pagination:false}

I didn't expect this behaviour because the documentation states "If pagination is set to false, it will return all doc

[2020-09-03 15:10] saijayaprakash opened #86 "Pagination not working as expected [ Second Page instead of First Page ]"
Getting Second Page instead of the first page with the below config :
[code]

It was working as expected before but suddenly it started to behave oddly.

[2020-09-03 15:27] saijayaprakash commented on #86
Sorry, It was index issue.

[2020-09-03 15:27] #86 closed

[2020-09-21 09:17] Liqiankun opened #88 "doc repeats if createdAt is the same and sort by createdAt"
**Describe the bug**
In my case, I created doc with a array.
[code]
So some of  the docs' `createdAt` are the same.

[code]
If I sort by `createdAt`, different pages will get same docs.
[code]
![截屏2020-09-21 17 10 51](https://user-images.githubusercontent.com/11532418/93750163-a0d0fc80-fc2d-11ea-9723-b11647ac3a10.png)
![截屏2020-09-21 17 11 03](https://user-images.githubusercontent.com/11532418/9375

[2020-09-21 17:04] mark-bt opened #89 "Extremely slow when trying to query 20 docs from a large collection."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-21 22:05] Pradeep-Dhatarwal opened #90 "filter the data?"
can we filter the data coming based on some parameters like catefories and stuff?

[2020-09-22 11:36] 1mohammad7 opened #91 "LeanWithId for all Ids"
I'm trying to filter objects , and for than I have to lean them but when I do lean them I'm only able to turn _id to a string , not other fields that are ObjectId. Its fraustrating.

I'd like an option that turns all _id objects to string representation

[2020-09-23 11:45] ekumahost opened #92 "How to define/limit parameters of populated item."
var options = {
    select:   'title date author',
    sort:     { date: -1 },
    populate: 'author',
    lean:     true,
    offset:   20,
    limit:    10
    };

Looking at the options above, we can populate author with is. how do I define the author parameter to populate; eg the auto has ID, name, age, phone, sex. I do not want to show the auto age and phone.

[2020-09-25 15:49] aravindnc commented on #92
@ekumahost You can try something like ["author.age": -1. author.phone: -1", "author.name: 1"]
I'm not sure. But please try it out.

[2020-09-25 15:53] aravindnc commented on #91
@1mohammad7 You mean while leaning, id's are returning as string instead of ObjectId's.

[2020-09-25 16:12] aravindnc commented on #90
@Pradeep-Dhatarwal  You can pass query object based on your filter. The plugin will only take care of the pagination.

[2020-09-25 16:13] aravindnc commented on #89
@mark-bt Can you tell me how much time it is taking without the plugin. Thanks.

[2020-09-25 16:19] aravindnc commented on #88
@Liqiankun Could be a bug with Mongoose, the plugin only does pagination to the data. Otherwise I will take a look.

[2020-09-25 16:42] 1mohammad7 commented on #91
the option `LeanWithId` creates another field that is String representation for `_id`.
What about other fields that are ObjectId? I'd appreciate an option that leans but creates a String representation for ALL fields that are Id

[2020-09-25 16:49] Pradeep-Dhatarwal commented on #90
Thanks mate

[2020-09-25 17:09] aravindnc commented on #91
@1mohammad7 Not sure if that could be an option to the plugin, as this use case is limited to your requirement. Also plugin takes care of the pagination part only at this stage.

So I would suggest to do the object string conversion outside the plugin.

Thanks.

[2020-09-25 17:10] #90 closed

[2020-09-25 17:13] aravindnc commented on #83
@utkarsh27a You are right, as you are not selecting **_id** - the **id** field could return undefined. I will add a patch, if you are not selecting **_id** then while leaning **id** will be null.

Thanks for pointing this out.

[2020-09-25 17:14] aravindnc commented on #77
@BGOnline-CN Let me know if the issue still exists.

[2020-09-25 17:17] aravindnc commented on #75
@otaviobps Sorry the plugin will only paginate the base model to which it is attached.
Otherwise you may have to try the aggregate plugin https://www.npmjs.com/package/mongoose-aggregate-paginate-v2

[2020-09-25 17:17] #75 closed

[2020-09-25 17:19] aravindnc commented on #78
@jeffrey008 This could confuse rest of the plugin devs I guess.

[2020-09-25 17:19] #78 closed

[2020-09-25 17:20] aravindnc commented on #80
@victormongi This plugin will work for the model only to which it is attached. But you can try https://www.npmjs.com/package/mongoose-aggregate-paginate-v2 instead and write an aggregate query.

[2020-09-25 17:20] #80 closed

[2020-09-25 22:20] victormongi commented on #80
@aravindnc do you have example?  thank you ...

[2020-09-26 20:09] Pradeep-Dhatarwal commented on #90
I'm fairly new with mongoose.
Can you please help me with this ? (newb question alert !!!)

[code]
here category needs to be populated first as it contains mongoose Object Id mapped to a category schema, but I'm unable to populate it and therefore can't filter the data.

therefore I'm not able to filter the results with category.

[2020-09-27 00:25] Liqiankun commented on #88
@aravindnc Thanks. Let's close it now.

[2020-09-27 00:25] #88 closed

[2020-09-29 18:40] HiroakiLion opened #93 "How do I populate deeper subdocuments in options?"
[code]
this doesn't work
I also tried
populate: [{'article'}, {'article.author'}]
or
populate: ['article', 'article.author']

but none of them work....
How can I populate subdocuments using paginate?

[2020-10-14 12:58] jens-schroeder opened #94 "add explanation of main difference between mongoose-paginate-v2 and mongoose-paginate to readme.md"
Hey,

im not sure what the difference between both projects is or why i should use mongoose-paginate-v2 instead of mongoose-paginate. I figured this could be interesting for other users too. would be nice to have an explanation in the readme.md of the project.

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
short sentence where the main

[2020-10-14 17:32] Dildar-Khan opened #95 "Why am I getting empty docs after applying filter?"
Result without applying filter.

{
"docs": [
{
"_id": "5f86a25620cdd915600bbcd9",
"name": "Vegetables",
"__v": 0
},
{
"_id": "5f86bad44c587a11e0857f74",
"name": "Fruits",
"__v": 0
}
],
"totalDocs": 2,
    "limit": 10,
    "totalPages": 1,
    "page": 1,
    "pagingCounter": 1,
    "hasPrevPage": false,
    "hasNextPage": false,
    "prevPage": null,
    "nextPage": null
}

After applying filter.

[2020-10-15 21:44] mfazevedo opened #96 "Model.Paginate is extremely slow when collection have a large numbers of items"
Describe the bug
Model.Paginate is extremely slow when collection have a large numbers of items

To Reproduce
 Code example in "Aditional info"

Expected behavior
A faster return for the items

Desktop (please complete the following information):

"mongoose": "^5.7.13",
"mongoose-paginate-v2": "^1.3.9",
OS: Ubuntu 20.04 focal (x86-64)
db version v4.2.10
Node 10.19.0

Additional context

db.getColl

[2020-10-16 06:18] #95 closed

[2020-10-16 11:20] mfazevedo commented on #96
Another important thing that I notice: The last page, always take at least 20 seconds

[2020-10-16 12:02] mfazevedo commented on #96
Seems like your lib was look at the entire collection (a huge one) when we are getting only the labels that was at the seller array (The code example)

[2020-10-17 05:01] aravindnc commented on #96
@mfazevedo  Can you try to run the same query with offset and limit (without paginate plugin) and see what is the response time.
[code]

[2020-10-17 05:01] aravindnc commented on #94
@jens-schroeder 👍

[2020-10-17 05:05] aravindnc commented on #93
What about this,
[code]

[2020-10-17 11:57] juliocabify100 opened #97 "Filter with populate data"
**Describe the bug**
Filter with populate data

Can you please help me with this ?

[code]

here category needs to be populated first as it contains mongoose Object Id mapped to a category schema, but I'm unable to populate it and therefore can't filter the data.

therefore I'm not able to filter the results with category.

thanks...

[2020-10-18 05:34] aravindnc commented on #97
@juliocabify100 the library will paginate the base model only. If you are using like Post.paginate, then it will paginate Post collection only.
Otherwise you may have to use https://www.npmjs.com/package/mongoose-aggregate-paginate-v2

[2020-10-28 02:30] daniel-tucano commented on #96
I'm having the very same issue

[2020-10-30 06:17] daniel-tucano commented on #96
i discovered what was causing this issue. It happens that mongoose-paginate-v2 use mongoose countDocument method for estimate totalDocs. This method takes a very long time to return a response since it scan the entire collection for giving the result. Just change it to estimateDocumentCount, wich take advantage of the collection metadata and it should resolve the problem

[2020-11-01 05:30] aravindnc commented on #96
Fixed in new build.

[2020-11-01 05:30] #96 closed

[2020-11-01 05:30] aravindnc commented on #89
Fixed in v1.3.10

[2020-11-01 05:30] #89 closed

[2020-11-01 05:37] #77 closed

[2020-11-01 05:46] #83 closed

[2020-11-05 20:26] louisnow opened #99 "useEstimatedCount may not work, possible typo"
**Describe the bug**
~A breaking change was made 5 days ago but a minor revision was released.
1.3.10 changes the default value of `useEstimatedCount` and also changes the variable name itself from `estimatedDocumentCount` earlier. It might possibly break existing systems? It seems like it will change the default behaviour by ignoring the value if explicitly set using `estimatedDocumentCount` or c

[2020-11-05 21:07] aravindnc commented on #99
@louisnow This is an optional feature, it won't mess up existing systems.

[2020-11-05 21:14] louisnow commented on #99
@aravindnc ah, I see my bad. I changed the issue to better understand what `useEstimatedCount` does as I can't find it documented anywhere

[2020-11-05 22:08] louisnow opened #101 "Support node 12 for project development workflow"
**Describe the bug**
Cannot develop the project on node v12. Tests and build fails as babel fails.

**To Reproduce**
On node v12, clone the repo, run `npm install`. Ensure node_modules is not already present after switching to node v12

**Expected behavior**
npm install must succeed and hence the tests should also work.

**Screenshots**
![2020-11-06-033723_1139x542_scrot](https://user-images.githu

[2020-11-05 22:29] louisnow opened #104 "Travis CI running build for unsupported Node versions"
**Describe the bug**
For dev workflow, use any lts version of node and travis must check for the same.
Causes Travis to fail needlessly after updating the project to support latest node v12+. See PR https://github.com/aravindnc/mongoose-paginate-v2/pull/103, babel has dropped support for unsupported node versions.
Node 10 and below are [EOL](https://nodejs.org/en/about/releases/)

**To Reproduce**

[2020-11-06 11:16] #99 closed

[2020-11-06 11:18] #104 closed

[2020-11-06 11:22] aravindnc commented on #101
@louisnow Thanks for the contribution and help.

[2020-11-06 11:23] #91 closed

[2020-11-06 17:25] #101 closed

[2020-11-06 17:26] aravindnc commented on #93
Please reopen if the issue exists.

[2020-11-06 17:26] #93 closed

[2020-11-06 17:27] aravindnc commented on #92
Please reopen if the issue exists.

[2020-11-06 17:27] #92 closed

[2020-11-08 09:18] louisnow opened #106 "Changelog should be in reverse chronological order for readability"
Changelog should be in [reverse chronological order](https://keepachangelog.com/en/1.0.0/#how) for readability.
Currently it's at the bottom of readme not reversed chronologically which makes it hard to find and read.
https://keepachangelog.com/en/1.0.0/

[2020-11-08 12:36] louisnow opened #108 "Support standard formatting options eslint and prettier which automatically fix code on commit"
Support standard formatting options eslint and prettier which automatically fix code on commit.
Makes new contributions easier.

[2020-11-08 12:48] louisnow commented on #94
@jens-schroeder Take a look at https://github.com/edwardhotchkiss/mongoose-paginate/issues/93 and https://github.com/edwardhotchkiss/mongoose-paginate/issues/98

[2020-11-09 10:42] #106 closed

[2020-11-09 10:49] #108 closed

[2020-11-10 11:50] jens-schroeder commented on #94
@louisnow sad to hear that.

[2020-11-17 09:51] thirupathireddygopal opened #110 "Issue related to creating a instance of model which is considering "paginateModel" instead of "Model""
when I try to create an instance of a model in order to save a document in a mongodb database, PaginateModel is overriding mongoose Model, so I cannot able to see any method related to the document which am gonna create

Pls find the attached PICS
![object which is showing any datatype](https://user-images.githubusercontent.com/34372394/99374310-75deee00-28e8-11eb-9f4f-a673cf138eca.png)
![list of

[2020-11-17 10:40] thirupathireddygopal commented on #40
Hi Kerolloz, are u able to sort it out the same problem which am facing, I have opened the issue in a bit clear way and attached this issue

[2020-11-27 21:38] SpringsTea opened #111 "Populate with limit option does not work consistantly."
**Describe the bug**
Using populate with limit will _sometimes_ not work. About 1 in 5 documents will populate correctly. Otherwiwse the populated field will return an empty array.
Below is the code, each deck has 1 or more card in it (usually 50). My goal is to populate only the first card of the deck.
If I leave out the limit, the population works. If I up the limit to 2, the population fails _s

[2020-12-11 09:30] AndonMitev opened #113 "Populate is not working at all"
Populate is not working at all

[2020-12-11 11:13] moda20 opened #114 "sorting after populating doesn't work in paginate-v2"
**Describe the bug**
I can't sort based on populate documents.
**To Reproduce**
create a schema with a nested schema
use this paginate library
try to sort on nested schema variables.

the sorting won't work.

**Expected behavior**
the sorting to work on populated attributes

**Additional context**
this library will execute the sorting before populating the fields. i don't know if this is where the

[2020-12-12 08:02] aravindnc commented on #113
@AndonMitev Please share your issue in detail.

[2020-12-12 08:06] aravindnc commented on #114
@moda20 Not sure if replacing the sort() is going to work. Anyway I will try to see if this can be fixed.
For sorting in populated documents I guess we have to pass it as options: {sort:{"field": "order"} in populate()

Let me know if I'm wrong.

[2020-12-12 08:13] aravindnc commented on #74
Please use the updated TS package.
https://www.npmjs.com/package/@types/mongoose-paginate-v2

[2020-12-12 08:13] #74 closed

[2020-12-12 08:21] aravindnc commented on #94
Updated readme.

[2020-12-12 08:21] #94 closed

[2020-12-12 09:56] moda20 commented on #114
If you put the sorting inside the populated field, the sorting will be done
on the populated fields.
My use case is to sort the parent document based on an attribute of one of
the populated fields.

If person has a field business to populate and business schema has a name
field, then my use case is to sort all the person documents by the name of
their business alphabetically, so we first get the p

[2020-12-12 19:17] venusdharan commented on #113
I had the same problem , but gone through the collection and found that some of the docs, which were old ones did not have the ref part(hardcoded values), as I was testing, and after removing those the populate works perfectly. is there a way to prevent this like ignore if ref is not present rather than just throwing error.

[2020-12-22 16:22] aravindnc commented on #114
Fixed in the latest build. @moda20

[2020-12-22 16:22] #114 closed

[2020-12-22 16:29] aravindnc commented on #113
@venusdharan So are you getting an error if the ref. is invalid? I guess it should return null if the reference doesn't exist.

[2020-12-22 16:34] aravindnc commented on #110
@thirupathireddygopal  I've tested this using tests/index.js and seems to be working fine.

![image](https://user-images.githubusercontent.com/495110/102911060-8bc06f80-44a1-11eb-8478-3d889f4df02d.png)

[2020-12-22 16:37] aravindnc commented on #81
Sorry for the delay.
You may have to use https://www.npmjs.com/package/mongoose-aggregate-paginate-v2 for aggregate paginate.

[2020-12-22 16:39] aravindnc commented on #97
Ignore the previous comment, I misinterpreted the question.
Your issue would have been resolved in the latest version.

[2020-12-24 10:21] moda20 commented on #114
@aravindnc What did you fix exactly ? now, I can sort parent documents based on the populated fields ?

[2020-12-24 14:43] aravindnc commented on #114
I've moved populate before sorting. So now it should be working.

[2020-12-26 19:28] venusdharan commented on #113
yes i am getting error when  ref is invalid, initially i wrapped it in try catch block and took a while figure it out  to edit some documents and give it a try and it worked.

[2020-12-26 20:31] aravindnc commented on #113
@venusdharan Thanks. Can you u try to use populate without using paginate plugin and see whether it returns error returns or not.

[2021-01-05 18:06] leonardomso opened #116 "How can I go to the next page?"
**Describe the bug**
There's no available method to go to the next page.

**To Reproduce**
[code]

**Expected behavior**
I am trying to paginate over a large collection of documents and I want to go to the next page after all the operations are done.

[2021-01-06 04:58] aravindnc commented on #116
@leonardomso  To go to next page pass {page: 2} in options.

[2021-01-06 10:59] leonardomso commented on #116
Ok, but how can I know that there's a next page available? We shouldn't have a method available inside the callback function that would go to the next page?

[2021-01-06 11:28] aravindnc commented on #116
If the return value is having hasNextPage=true, the you have a next page. I'd suggest you to go through the plugin documentation again.

[2021-01-06 12:09] leonardomso commented on #116
I have an array of documents, I'd like to paginate over them, for example, with a limit of 10 documents, and do a specific operation. After that operation, I would like to go to the next page and do the same operation, until all the documents are gone and there's no next page.

How could I do that?

[2021-01-06 13:09] aravindnc commented on #116
Please go through the documentation, everything is explained there with sample code. Should be stratight forward for you.

[2021-01-06 13:35] #116 closed

[2021-01-12 07:16] seunafara opened #117 "Cannot remove field in populated data"
**Describe the bug**
I am using populate to include the users in the query but I do not want some of the user information to show. See below to understand better.

**To Reproduce**
Steps to reproduce the behavior:

`
const { page, perPage } = req.query;
   const options = {
      page: parseInt(page, 10) || 1,
      limit: parseInt(perPage, 10) || 10,
      populate: 'user',
      select: 'user.pa

[2021-01-12 07:50] seunafara commented on #117
In case any other person has this issue. You can fix it with the code below:

`const { page, perPage } = req.query;
   const options = {
      page: parseInt(page, 10) || 1,
      limit: parseInt(perPage, 10) || 10,
      populate: [
         {
            path: 'user',
            options: {
               select: '-password',
            },
         },
      ],
   };`

[2021-01-12 07:50] #117 closed

[2021-01-12 07:51] seunafara commented on #117
@aravindnc Kingly make this clear or include in your readme.md so others aren't confused. Cheers

[2021-01-13 16:33] aravindnc commented on #113
@venusdharan Did you get a chance to take a look at this.

[2021-01-13 16:38] aravindnc commented on #117
@seunafara Glad to see that you got it right.
In your initial sample, it didn't work because you passed object as a string.
It should be **select: {user.password: -1}** not **select: 'user.password: -1'**

[2021-01-13 16:43] aravindnc commented on #110
@thirupathireddygopal Is the issue happening for Typescript version ?

[2021-01-14 01:39] thirupathireddygopal commented on #110
Hello Aravind,

Good Morning

Used "he hu hu humongoose-paginate-v2" in nodes.js in order to send all
requirements like no.of. pages, page length, total docs,..etc to frontend
(angular), Also provided screen shots in issues which I have raised in
order to understand better with and without using "mongoose-paginate-v2"

Regards
Thirupathi Reddy

On Wed 13 Jan, 2021, 10:13 PM Aravind NC, <notificati

[2021-01-16 04:28] aravindnc commented on #97
Please reopen if the issue persists.

[2021-01-16 04:28] #97 closed

[2021-01-16 04:38] aravindnc commented on #110
@thirupathireddygopal Thanks. May be I might need some more time to see how to fix this.

[2021-01-25 20:05] hasan-li opened #118 "Passing of additional data that can be used to ignore already paginated data"
**Describe the bug**
There is the possibility that the same data will be loaded twice on next page

**To Reproduce**
1. get 3 values from db (`page: 1; limit: 3`): `A, B, C`
2. in a meantime write 1 new data item `D` into the collection
3. get next 3 values from db (`page: 2; limit: 3`): `C, D, E`
4. as you can see when adding new data `C` has been pushed down and now for the next pagination in st

[2021-01-26 04:08] aravindnc commented on #118
@hasan-li That's strange. Are you sure you are getting duplicate data while paginating ?

[2021-01-26 18:07] hasan-li commented on #118
@aravindnc yes, I double-checked it right now by manually inserting a new doc before calling the second page. So the last document is being shifted to the next page

[2021-01-26 18:29] serjmac opened #119 "The hasPrevPage and prevPage returned values are not correct at page=1"
**Describe the bug**
The hasPrevPage and prevPage returned values are not correct at page=1.

**To Reproduce**
Steps to reproduce the behavior:
1. Simple use of await Model.paginate(condition, { offset, page, limit, sort: { _id: -1 } })
2. Returns the expected objects from the query but......
3. But in the initial page=1, the hasPrevPage and prevPage returned values are incorrect, see below pasted

[2021-01-26 18:46] aravindnc commented on #119
@serjmac Thanks for pointing out.

[2021-01-26 19:01] #119 closed

[2021-01-26 19:03] aravindnc commented on #119
@serjmac Please update the package(v1.3.14) for the fix.

[2021-01-26 19:05] aravindnc commented on #118
@hasan-li Thanks. I will take a look and get back.

[2021-01-27 07:12] serjmac commented on #119
@aravindnc updated to 1.3.14, issue is fixed, that was fast.

Thank you for your work

[2021-02-02 17:36] lincolnthree opened #120 "MongoError: $where is not allowed in this context"
**Describe the bug**
[code]

QUERY:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run the query on a PaginateModel:

[code]

**Expected behavior**
Should not throw an error. Results should be returned.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: OSX
 - Browser: NA
 - Version 1.3.14

[2021-02-03 05:00] aravindnc commented on #120
@lincolnthree Sorry $where is not supported as mentioned in the readme
https://github.com/aravindnc/mongoose-paginate-v2#note

[2021-02-03 05:46] lincolnthree commented on #120
My apologies! I should have seen that. Thank you for the response!

[2021-02-03 05:46] #120 closed

[2021-02-03 21:20] Figments opened #121 "Update to be compatible with Mongoose 5.11"
**Is your feature request related to a problem? Please describe.**
As of version 5.11, Mongoose now comes with its own typings, but `mongoose-paginate-v2` does not make use of these to make the `PaginateModel` and `PaginateResult` types available to use.

**Describe the solution you'd like**
Update to be compatible with the latest version of Mongoose.

**Describe alternatives you've considered**
D

[2021-02-06 04:29] aravindnc commented on #121
@Figments This is for TS right ?

[2021-02-06 04:36] Figments commented on #121
Yes. The `@types/mongoose-paginate-v2` package is based on `@types/mongoose`, which is looking like it won't be updated since mongoose now has typings on its own. Because of that, `mongoose-paginate-v2` does not have proper typing integration with the latest mongoose versions.

[2021-02-06 08:02] aravindnc commented on #121
Sorry I'm not managing the TS version. Let's see if somebody can help.

[2021-02-18 13:36] SimonNarendorf commented on #38
i would really appreciate the changes suggested by @davidsierradz !

[2021-02-18 23:08] lingo commented on #39
I'm seeing the same problem as @ingvarr6  with version 1.3.14.  When I ensured the collation is applied before the `count` call, then the results are correct.  Otherwise, I get 0 results.

[2021-03-19 09:33] ypicard opened #123 "What does the `pagingCounter` stand for ?"
Hi,

In the docs, `pagingCounter` is defined as:
[code]

What is an sl. number ? What is it used for ?

Thank you !

[2021-03-19 16:23] aravindnc commented on #123
That is serial/chronological number for displaying items in the list, so one doesn't need to do that calculation again.

[2021-03-22 13:16] ypicard commented on #123
Oh okay, I understand. Maybe a little precision concerning this could be added in the readme.

Thanks for your work !

[2021-03-22 19:25] aravindnc commented on #123
@ypicard Readme updated. Thanks for pointing out.

[2021-03-22 19:25] #123 closed

[2021-03-25 20:31] Eronmmer opened #124 "App crashes when the value of page is < 1"
**Describe the bug**
When a value of 0 or less is passed to the ```page``` option, it crashes the app. Below is a screenshot.

![image](https://user-images.githubusercontent.com/37238033/112539550-6a796300-8db1-11eb-9515-d2c164b86015.png)

[2021-03-26 11:48] aravindnc commented on #124
@Eronmmer Merged. Thank you.

[2021-03-26 11:48] #124 closed

[2021-04-12 09:55] Alijaaan commented on #42
After adding `forceCountFn: true`

I have this warning :
DeprecationWarning: collection.count is deprecated, and will be removed in a future version. Use Collection.countDocuments or Collection.estimatedDocumentCount instead

[2021-04-12 19:08] aravindnc commented on #42
@Alijaaan
Yes actually geo queries are not supported. Please read below.

https://github.com/aravindnc/mongoose-paginate-v2#note
https://docs.mongodb.com/manual/reference/method/db.collection.countDocuments/#query-restrictions
https://docs.mongodb.com/manual/reference/method/db.collection.estimatedDocumentCount/#mechanics

Otherwise you can change your query to aggregate pipeline and try using mon

[2021-04-28 16:58] ypicard commented on #121
Is anyone on this ?

[2021-04-28 17:15] ypicard commented on #121
Would you like to integrate the types into this repository ? If yes, I could do a pull request to help you.

[2021-05-05 02:37] hbina commented on #121
@Figments What version did you downgrade to? What changed made it work? Struggling with this issue now.

[2021-05-05 08:18] ypicard commented on #121
I added the following typings to my project:
[code]

[2021-05-05 10:24] MickL opened #127 "TypeScript typings are not working (conflict)"
**Describe the bug**

Having all the latest versions:
[code]

It makes a lot of errors:

[2021-05-06 05:16] aravindnc commented on #121
I would appreciate it.

[2021-05-06 05:16] aravindnc commented on #127
#121

[2021-05-06 05:17] aravindnc commented on #113
@venusdharan Please reopen if the issue exists in the new version.

[2021-05-06 05:17] #113 closed

[2021-05-06 08:04] MickL commented on #127
Duplicate

[2021-05-06 08:04] #127 closed

[2021-05-06 08:04] MickL commented on #121
I would really appreciate to habe typings within this project. It is really a pain to use @types. Most projects (like Mongoose) no come with typings.

[2021-05-14 17:03] a-kriya commented on #85
@aravindnc Seeing the same issue.

[2021-05-17 07:55] ypicard commented on #85
@aravindnc Yes I can confirm this is also the case for us. Any updates on this topic?

[2021-05-17 08:34] aravindnc commented on #85
@ypicard @a-kriya Are you saying that if we set pagination:false it still returns data with limit ? Can you please confirm.

[2021-05-17 09:05] ypicard commented on #85
Hi,

The bug appears in the following scenario:

[code]

This will return 0 documents when the expected behaviour would be to return all documents. Passing `limit: undefined` should be ignored if `pagination: false` is set.

I gave a quick look at the code and you can trigger the bug in your test suite here (`tests/index.js`: line 472). I also found another weird behaviour when `page: undefined` i

[2021-05-17 11:23] aravindnc commented on #85
@ypicard Thank you for the detailed comment.
Found the issue, I will fix it right away.

[2021-05-17 11:34] a-kriya commented on #85
@aravindnc I'd say that the behavior does seem buggy, and why @wjteo filed this ticket and we all end up here : ]

[2021-05-17 13:16] aravindnc commented on #85
Please update the package to v1.3.18 and let me know if the issue persists.

@a-kriya @ypicard

[2021-05-17 13:31] a-kriya commented on #85
@aravindnc Tested in the application and works well. Is there a default limit of 100, by the way?

[2021-05-17 13:40] aravindnc commented on #85
Great!
Default limit is set as 10.

[2021-05-17 15:15] a-kriya commented on #85
@aravindnc I meant to ask if there's also some limit to the # of docs even with `pagination=false`?

Will you be publishing the change on NPM?

[2021-05-17 17:00] ypicard commented on #85
Looks good to me, thank you for your responsiveness!

And same question as @a-kriya, will you be publishing the changes on NPM soon?

[2021-05-17 17:42] aravindnc commented on #85
I've already published to npm couple of hours back.
@wjteo  @a-kriya @ypicard
Thanks for pointing out the issue. Really appreciated.

[2021-05-17 18:16] a-kriya commented on #85
@aravindnc Thank you for the quick update!
I suppose this ticket can be ✅

[2021-05-18 06:52] #85 closed

[2021-05-21 08:56] CodeDem commented on #121
@ypicard Can you please explain how exactly you archived that? maybe an example or steps? I'm stuck on this and do not wish to downgrade, since mongoose v5.10**  doesn't work well with Serverless

[2021-05-22 19:07] ypicard commented on #121
Yes, I added those types to my apps:
[code]

I did not have a chance to take a look to do a PR, not sure I will be able to for now. If someone wants to give it a shot, feel free.

[2021-05-24 10:53] turshija commented on #118
I'm having the same issue, came here to report it and seeing this thread.
In my situation, it happens only when sorting by a value which is a number, and only when those documents share same value with other documents. In my case I have a lot of documents which have value 0, so one of the documents just appears on two pages (but only when doing descending sort).
I've confirmed that its not an issu

[2021-05-25 09:04] CodeDem commented on #121
Okay, @ypicard  I don't understand how copying the same content from earlier comment is helpful LoL. Thanks though

I ended up creating a `global.d.ts` at the root of the projected and added this https://gist.github.com/CodeDem/4137a8c64b8543cf5fe702e7194d0401

wherever you need access to types you can use it like this

`import { PaginateModel, PaginateOptions } from 'mongoose';`

I'm not sure of

[2021-05-25 09:53] ypicard commented on #121
I'm sorry I forgot I had already put this before... Not sure I really understand your question then.

I added my code snippet to the `types/mongoose.d.ts` folder in my project.

Does that answer your question?

[2021-05-26 01:15] brightchip opened #129 "make count and fetch documents functions"
So I could skip fetch the documents when count is zero.

[2021-05-26 02:10] brightchip opened #130 "Can you tell me when to use projection or select ?"
Is there any difference when I use Graphql ?
Can't figure out from mongoose documents
I don't know why both work on same intention of queries.

[2021-05-26 11:02] CodeDem commented on #121
@ypicard haha don't say sorry man, your code snippet is actually what I used in the solution I pasted above. Thank you for it :)

[2021-05-26 13:48] aravindnc commented on #129
@brightchip  Can you explain.

[2021-05-26 13:49] aravindnc commented on #118
@turshija That's great. Thanks.

[2021-05-26 13:52] aravindnc commented on #111
Please reopen if the issue exists. @SpringsTea

[2021-05-26 13:52] #111 closed

[2021-05-26 14:08] #81 closed

[2021-05-26 14:13] aravindnc commented on #110
Added to mongoose plugins list.
![image](https://user-images.githubusercontent.com/495110/119675127-65d93580-be5a-11eb-9804-668ba5faa368.png)

And we cannot make it to official plugins list, as they are developed by mongoose team.

[2021-06-09 08:33] mojtabasoleimani25 opened #132 "the Query is not working well"
i wanna use a query like this {'Property.Price' : { $gte : 10}}. in **find()** function this query works but in paginate doesnt work

[2021-06-11 16:53] aravindnc commented on #132
@mojtabasoleimani25 Please see the examples. If that didn't work, share the code block.

[2021-07-08 14:16] lx-0 opened #134 "Pass allowDiskUse option from paginate options and set on find()"
I am getting the QueryExceededMemoryLimitNoDiskUseAllowed when using mongoose-paginate-v2 on large datasets.
Therefore I would like to use the allowDiskUse option as on find() queries. Currently this option is not set in pagination context.
Please pass the option from the paginate options object to the paginate function an set the allowDiskUse() option on the find() query.
See: https://mongoosejs.

[2021-07-08 14:34] aravindnc commented on #134
@lx-0 Will be working on it.

[2021-07-08 16:53] aravindnc commented on #134
@lx-0
New version deployed v1.4.0, please check and let me know if there is any issue.

[2021-07-08 16:58] #134 closed

[2021-07-19 10:24] MickL commented on #121
Could someone either update the [existing typings](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/52761) OR (better) create a PR to add typings to this project?

@aravindnc As you are the author of this project you may be super quick creating typings compared to anyone that doesnt know the project as well?

[2021-07-25 15:03] lepicekmichal opened #136 "How is this cursor based?!"
**Remove** all mentions of cursor from this repo. I can't believe it's still there after 3 years and at least one issue warning you about it.

[2021-08-15 05:54] aravindnc commented on #136
Updated the description.

[2021-08-15 05:54] #136 closed

[2021-08-15 05:57] aravindnc commented on #130
Closing this as this question has nothing to do with the plugin.

[2021-08-15 05:57] #130 closed

[2021-08-15 05:59] aravindnc commented on #121
@MickL I understand your point, but sorry I'm not proficient in TS. Would be good if someone can help to update the TS version.

[2021-08-15 06:00] aravindnc commented on #129
@brightchip Please reopen if needed.

[2021-08-15 06:00] #129 closed

[2021-08-15 06:01] #118 closed

[2021-08-15 06:11] lepicekmichal commented on #136
This ain't resolved. Granted, it's gonna take months before google stops giving your library as a result to cursor pagination, but as long as Ctrl+f "cursor" finds result on either repository frontpage OR npmjs.com library page, you can't close this.

Now I don't wanna be mean or saying you do this on purpose, but the issue has been brought up in the past and closed with same response.
So please,

[2021-08-15 18:19] aravindnc commented on #136
Yes, I just published the package which will remove all the references from front page as well as npmjs.

[2021-08-18 13:51] MarwenBenTalebAli commented on #132
hello, I have the same problem.
I want to use myModel.find({ name: varName}) in mongoose-paginate-v2.
how to use find in mongoose-paginate-v2 ?

I tried this options but I retrieve all the documents.
[code]

[2021-08-18 15:53] aravindnc commented on #132
@MarwenBenTalebAli  Here is a sample,
[code]

More examples here:
https://github.com/aravindnc/mongoose-paginate-v2/blob/master/tests/index.js

[2021-08-19 02:08] usernamedoesntexist commented on #132
hi how i can insert req in options?

[2021-09-08 07:05] zayn-m opened #139 "$or query is not working"
I'm writing $or query but it returns empty results.
[code]

[2021-09-08 18:44] aravindnc commented on #139
Can you please confirm that the query runs without paginate plugin?

[2021-09-10 12:35] riyastir opened #140 "How to use distinct with paginate"
Hi,

Does anyone idea about the usage of the distinct method along with pagination?

Thanks in advance

[2021-10-19 17:58] insivika opened #142 "Empty Array of Docs with non zero amount of totalDocs"
**Describe the bug**
I'm using a $geo query that looks like this
[code]
The query returns an empty array for `docs` but the number 7 for `totalDocs`. This is inconsistent as I'd expect 0 if an empty array is returned.

**To Reproduce**
It's a private repo

**Expected behavior**
I'd expect the length of the array to match the `totalDocs`

**Screenshots**

**Desktop (please complete the following in

[2021-10-19 18:08] #142 closed, assigned to nobody

[2021-11-17 06:15] SonPH088 commented on #110
+1 issue.
It's maybe only happening for the Typescript version.

is there any way to make this plugin work in the ts version?
Thanks all!

[2021-11-20 04:38] aravindnc commented on #140
distinct() feature is not available in the current plugin version.

[2021-11-26 19:45] ryma1738 opened #143 "Does not work with GeoJson queries: $geoNear, $near, and $nearSphere"
**Describe` the bug**
When you try to do a $geoNear, $near, and $nearSphere query using geoJSON it throws the error: MongoServerError: $geoNear, $near, and $nearSphere are not allowed in this context. The only way I could find to fix it is to not use mongoose-paginate-v2 with geoJSON queries. This may not be on your end but on mongoDB's end, but it would be nice to have a work around built in.

**

[2021-11-27 03:48] aravindnc commented on #143
@ryma1738
Yes it doesn't support. Already mentioned in the note.

https://github.com/aravindnc/mongoose-paginate-v2#note

[2021-11-27 04:03] ryma1738 commented on #143
I did my own work around which seems fairly efficient, I just wanted to bring it up cause it took me a while to figure out the error.

[2021-11-27 04:09] aravindnc commented on #143
@ryma1738 Nice to hear that. Thanks for the update.

[2021-11-27 10:21] #143 closed

[2021-11-27 10:22] aravindnc commented on #139
Feel free to reopen if this is a plugin issue.

[2021-11-27 10:22] #139 closed

[2021-12-07 20:53] marcus-castanho commented on #110
I recently had this problem and it seems that @types/mongoose-paginate-v2 on version 1.4.1 changed the PaginateModel type definition and caused this "extend Model<T>" problem. I managed to force the installation of  @types/mongoose-paginate-v2 on 1.4.0 or lower version and it solved the problem for me. Anyway, I'm still not sure on what is the problem that was introduced on 1.4.1.

[2021-12-08 03:37] JoshuaPerk opened #145 "Sort doesn't work with mongoose-paginate (but works with vanilla mongoose)"
I have a collection of calendar `Events` and in their schema is a `start` key which holds a proper date. If I run a vanilla mongoose query such as...
[code]
...as expected, I get a list of events, sorted oldest to newest.

However, when I run...
[code]
...I successfully have paginated results returned; however, they're not in any specific order.

I've attempted to make `start` an index at both the

[2021-12-15 19:43] SpringsTea commented on #111
Hello, I just got around to updating to 1.4.2 and this bug is still occurring for me. Without a high limit value, some documents just don't populate.

[2021-12-17 00:08] trancephorm commented on #145
I just came from mongoose-aggregate-paginate-v2 here because it seems it's bugged when it comes to sorting, and now I'm reading this. Please if someone can confirm if this is a confirmed bug?

Actually I realised I don't need aggregation in my query and this paginate-v2 would suit me really well because it has same output fields as aggregate version, so I don't have to change my frontend. But I do

[2021-12-17 00:12] trancephorm opened #146 "Is it possible to sort paginated results by fulltext's textScore meta data?"
Please anyone tell me if he actually did it, I don't want to lose days just to realize you can't do it. Thanks! :)

[2021-12-17 13:01] trancephorm opened #147 "Seems like fulltext search is impossible?"
This piece of code gives internal server error:
[code]

[2021-12-17 13:13] #147 closed

[2021-12-17 13:13] trancephorm commented on #147
Sorry, my bad I was sending array instead of object for Query..

[2021-12-17 13:18] trancephorm commented on #146
Seems like I managed to get paginated results sorted by textScore by default, now I just need to confirm it, anyone help me how to include textScore metadata in resultset?

[2021-12-17 22:40] tomosterlund opened #148 "Use a PaginationParameters-helper, for passing request query into Model.paginate()"
**Is your feature request related to a problem? Please describe.**
Declaring the parameters to search the database with, is often done twice: once on the frontend, and once on the backend. It would be convenient, if the query and options for the DB-request would only have to be defined on the frontend, and then simply passed on to Mongoose in the controller.

**Describe the solution you'd like**
A

[2021-12-18 03:59] aravindnc commented on #148
@tomosterlund Thank you for this. But not sure how many of them needs this. If there are enough request for this feature then we can surely implement this.

[2021-12-18 06:09] aravindnc commented on #146
You can add text score in projection for this,

[code]

[2021-12-18 06:12] aravindnc commented on #145
@JoshuaPerk Seems sorting issue is happening for random users. I've tested with different scenarios and didn't get any issues till now.

[2021-12-18 06:41] trancephorm commented on #146
Thanks a lot, I've put it in options and it works... I'm now just curious how it doesn't replace the current result set with just that one score: property, because this is where it says that projection is overwriting current collection of properties: https://mongoosejs.com/docs/api/query.html#query_Query-projection

[2021-12-18 06:54] tomosterlund commented on #148
Okay, thank you! I've added an example from my fork to make the implementation a bit clearer, and will decline the PR for now then.

[2021-12-19 04:35] aravindnc commented on #148
@tomosterlund Appreciate it! Lets wait for some time then.

[2021-12-19 04:46] #132 closed

[2021-12-23 10:30] arkanos opened #150 "NodeJS throws error on version 17.3.0 & 16.3.1"
**Describe the bug**
Using NestJS and after adding mongoose-paginate-v2 to the schemas, when using any endpoint that uses pagination, NodeJS throws the following error:

[code]

Any other endpoint that makes use of the same model/schema but without pagination, works without any issue.

This is an example of how I define the schemas:

[code]

And this is how I use the plugin in the service:

[code]

[2021-12-23 11:53] arkanos commented on #150
Tried to build the project inside a Docker image using Node Alpine image for 16.13.1 just to discard it was an OS issue but error pops up as well.

[2021-12-23 12:49] #150 closed

[2021-12-23 12:50] arkanos commented on #150
After several hours of investigation, I have found that this is not caused by the plugin but is something related with NestJS. I'm opening the issue on their repo. Sorry for any inconvenience.

[2021-12-26 22:04] thorizer commented on #148
I'm also using nestjs and i support this

[2021-12-30 14:16] mryraghi commented on #145
I'm also getting this issue, is there any workaround or fix coming? Thanks

[2022-01-06 14:37] aravindnc commented on #148
@tomosterlund Can you do a PR for this ?

[2022-01-07 16:00] tomosterlund commented on #148
@aravindnc Sure thing!

[2022-01-09 04:43] aravindnc commented on #148
@tomosterlund Really appreciate your contribution.
The package has been updated to v1.5.0 with latest features.

@thorizer

[2022-01-12 21:05] ekumahost opened #152 "Property 'paginate' does not exist on type 'Model<any, {}, {}, {}>'.ts(2339)"
the following script throw this error. on MyModel.ts

I have followed the installation instruction and example. what is missing..?

[code]

---------------------------------
`MyModel .paginate({}, options)`

[2022-01-12 21:39] ypicard commented on #121
Hi, it's me again.

The work needed to make this library Typescript compatible does not look like being too complicated - most of it being in the [ts-version](https://github.com/aravindnc/mongoose-paginate-v2/tree/ts-version) branch.

If setup correctly, I do not see why adding Typescript support would prevent you from being able to provide updates to this library. Typescript is supposed to _help

[2022-01-13 05:24] aravindnc commented on #121
@ypicard I would really appreciate some contributors to step in for updating the ts version.

[2022-01-13 17:29] ypicard commented on #121
What process would you like to setup then? Someone comes up with a PR replacing the existing js implementation with a fully TS one? I could take care of this.

[2022-01-15 12:52] aravindnc commented on #152
@ekumahost The ts version of the plugin is buggy for some users, so its yet to be updated to new version.

By the time can you check below references,
https://stackoverflow.com/questions/42859759/error-calling-paginate-after-import-schema-within-plugin
https://github.com/edwardhotchkiss/mongoose-paginate/issues/9

[2022-01-15 12:53] #148 closed

[2022-01-15 13:02] aravindnc commented on #121
@ypicard For now lets update this one https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mongoose-paginate-v2

Later, I will replace the current library with ts version.

[2022-01-15 16:01] ypicard commented on #121
The types should be going in the library's source code directly. Is this part of your plan?

[2022-01-16 04:40] aravindnc commented on #121
@ypicard Yes I will replace existing implementation with ts version soon.

[2022-01-16 06:45] ekumahost commented on #152
Found a workaround in typescript
was using` import mongoose`
which somehow did not handle the Doc interface well. I switched it to
`const mongoose = require('mongoose');`

[2022-01-16 06:45] #152 closed

[2022-01-16 13:56] aravindnc commented on #146
Glad to hear that solved your problem. Regarding your other question, that's outside the scope of this plugin. May you will find an answer in the mongoose/mongodb community.

[2022-01-16 13:56] #146 closed

[2022-01-19 05:58] ypicard commented on #121
@aravindnc Let me know if this works for you and I will mark the PR as _Ready for review_: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/58304

[2022-01-19 15:36] aravindnc commented on #121
@ypicard Awesome. Let me take a look.

[2022-01-21 14:41] haug1 commented on #9
I am experiencing the same issue, I've ended up assuming `$where` is not supported when querying a view instead of a collection. At least in my case the query runs successfully only on collections, but not on views. It seems to be very vaguely explained [in the official MongoDB Views docs](https://docs.mongodb.com/manual/core/views/):

Naively without knowing any technical details, it doesn't make

[2022-01-27 03:09] ypicard commented on #121
Hi @aravindnc , any comments on the PR?

[2022-01-27 04:18] aravindnc commented on #121
@ypicard Sorry for the delay. Just checked the code and I can see that the update was only for adding parameter parameter class. Not sure if I'm looking at the wrong PR. Shouldn't there be complete ts transformed code for the whole plugin. Let me know if I'm wrong.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/58304

[2022-01-27 04:40] ypicard commented on #121
Perhaps I misunderstood this comment then.

I thought you were planning on migrating to Typescript on your end soon - and that DefinitelyTyped typings should be updated in the meantime. Correct?

[2022-01-27 09:04] aravindnc commented on #121
@ypicard  Oops! Sorry if I'm not being clear.

What I meant was that once you update the DefinitelyTyped typings with ts version, I will move your TS code to current plugin library down the track. Since I'm not that much into TypeScript, I'm having hard time to do the ts conversion. So if I switch the library entirely to TS version now then it must be hard for me to do further updates. So I'm plan

[2022-01-31 19:34] ypicard commented on #121
I think there is a misunderstanding here. Let me know if the following makes sense to you:

- The DefinitelyTyped project is a project aiming to contain only _typing definitions_ for a project that does not support typescript itself. It is not meant to contain the equivalent package code written in typescript - which I think is what you were expecting to see in the above [PR](https://github.com/De

[2022-02-01 04:17] aravindnc commented on #121
@ypicard Thanks for explaining. I would prefer option 2 for the time being.

[2022-02-02 20:00] ypicard commented on #121
PR is up.

[2022-02-03 16:02] aravindnc commented on #121
@ypicard Version updated. Can you take a look.

[2022-02-03 17:45] ypicard commented on #121
LGTM. Thanks for helping in this @aravindnc.

[2022-02-04 08:22] kerolloz opened #154 "Property 'options' does not exist on type '(schema: Schema<any, Model<any, any, any, any>, any, any>) => void'"
![image](https://user-images.githubusercontent.com/36763164/152495684-1f869934-e951-45aa-9c84-a6fc80544bf5.png)

[2022-02-04 10:57] kerolloz opened #155 "Cannot build TypeScript project"
**Describe the bug**
build errors when using typescript

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i mongoose-paginate-v2`
2. build with `tsc`
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/36763164/152517193-c1d68d81-082d-483b-9b85-11357648c747.png)

**Desktop (please complete the following informatio

[2022-02-04 13:13] aravindnc commented on #155
@ypicard Any idea what is wrong.

[2022-02-04 13:14] aravindnc commented on #154
@ypicard This too.

[2022-02-04 15:54] ypicard commented on #155
Will look today.

[2022-02-04 15:54] ypicard commented on #154
Will look today.

[2022-02-04 18:07] ypicard commented on #155
@kerolloz I cannot reproduce your issue.

`mongoose@5.13.2` is a required dependency for this package. Do you have it installed in the correct version?

Could you link to a project where I can reproduce the problem?

[2022-02-04 18:22] kerolloz commented on #155
Hmm, I believe I have a different version `"mongoose": "^6.1.9"`

I will try `mongoose@5.13.2`

[2022-02-04 18:27] ypicard commented on #155
Yes, it seems this package does not support `mongoose@6` - but I do not know what the requirements for supporting it would be.

Could be an issue of its own.

[2022-02-05 04:02] #154 closed

[2022-02-05 04:08] aravindnc commented on #154
@kerolloz @ypicard Package updated. Please verify.

[2022-02-05 04:09] #121 closed

[2022-02-05 04:10] aravindnc commented on #110
TS version has been updated, so the issue could be fixed.

[2022-02-07 23:09] ypicard commented on #155
@aravindnc You can probably close this.

[2022-02-07 23:09] ypicard commented on #154
LGTM.

[2022-02-08 08:53] orgads commented on #155
Why? Please add support for mongoose 6.

[2022-02-08 10:39] fawzisf commented on #38
Would really appreciate these changes as well !

[2022-02-08 15:10] aravindnc commented on #38
Will be adding it this week.

[2022-02-08 17:13] ypicard commented on #155
Because this is not the topic of this issue.

Would you like to give it a shot and send a PR for mongoose 6?

[2022-02-09 09:54] aravindnc commented on #155
I will add a separate issue for mongoose 6.

[2022-02-09 09:54] #155 closed

[2022-02-09 09:55] aravindnc opened #157 "Support for Mongoose 6"
Mongoose 6 has some breaking changes, so we need to safely migrate to mongoose 6.

[2022-02-09 16:13] TOLDINS opened #158 "Have problem with using libary. Early some working is good. I check that 4 days ago implemented new version."
<img width="626" alt="Снимок экрана 2022-02-09 в 18 10 15" src="https://user-images.githubusercontent.com/43473767/153241866-5bcce52c-bb9a-4c76-9fa9-23521a12699d.png">
<img width="453" alt="Снимок экрана 2022-02-09 в 18 10 28" src="https://user-images.githubusercontent.com/43473767/153241887-8705af7f-eaba-420f-9910-1582faef7da1.png">
<img width="414" alt="Снимок экрана 2022-02-09 в 18 10 43" src="

[2022-02-10 19:45] ypicard commented on #158
Did you try reading the [Typescript instructions](https://github.com/aravindnc/mongoose-paginate-v2#typescript) ?

You seem to be using the wrong arguments to your model definition.

[2022-02-11 10:07] TOLDINS commented on #158
@ypicard
import paginate from 'mongoose-paginate-v2';

// declare your schema
export const institutionSchema = new Schema({ name: String });

// paginate with this plugin
institutionSchema.plugin(paginate);

// declare a mongoose document based on a Typescript interface representing your schema
interface InstitutionDocument extends Document, InstitutionData {}

// create the paginated model
const

[2022-02-11 14:12] aravindnc commented on #157
Updated plugin to support Mongoose 6.
TS version is not yet supported, seems to have some breaking changes.

[2022-02-15 14:31] deeeed opened #159 "Paginate for inner collection"
Could we re-use the library to paginate a nested array?

[2022-02-16 06:04] ypicard commented on #158
The documentation can be improved indeed. Try the following:
[code]

[2022-02-18 13:32] angsar commented on #157
Hi there, by chance, is there an expected timeline for resolving the mongoose 6.x support with TS version? Thanks.

[2022-02-21 20:02] marlonkjoseph commented on #157
+1

[2022-02-21 21:10] akeelhenry commented on #157
+1

[2022-02-22 16:32] richardpickett opened #160 "mongoosePaginate.options block toJSON and toObject"
**Describe the bug**
Whenever you set paginate options on the schema, any toJSON and toObject calls you have won't be called.

**To Reproduce**
Steps to reproduce the behavior:
1. On an existing collection that paginate() currently works on, add toJSON:

[code]

2.  Run your paginate call like normal, you should see the console log "your data" along with the results.

3.  Then add paginate options

[2022-02-28 10:33] kerolloz commented on #157
@aravindnc
Same problem when I try to build in TypeScript

![image](https://user-images.githubusercontent.com/36763164/155968078-4ec5fde5-6291-41ac-8141-7bd0ff47a340.png)

[2022-02-28 11:26] #157 closed

[2022-02-28 11:32] aravindnc commented on #159
Sorry no, this is for paginating documents only.

[2022-02-28 11:32] #159 closed

[2022-03-02 18:44] aravindnc commented on #158
Hope this is resolved. @TOLDINS

[2022-03-17 18:12] ypicard commented on #158
Any news @TOLDINS ? Can we close this?

[2022-03-22 00:18] herbertpimentel opened #162 "Complete Example and explanation of usage with typescript"
**Is your feature request related to a problem? Please describe.**
The typescript snipet provided on readme is confuse and I was no able to make it work properly

**Describe the solution you'd like**
Have a clear, complete and explained example of typescript usage of type definition. Including the missing imports from the reademe page.

[2022-03-23 08:46] nickchauhan commented on #162
Also if possible please provide an example to integrate with Nest js. Many Thanks!

[2022-03-23 14:44] herbertpimentel commented on #162
@nickchauhan I am using like this... this works... but has this type problem...

I define a Model like so:

[code]

then I just need to cast it to any due the typescript complain about the model do not have the `paginate` method

[code]

[2022-03-24 09:50] nickchauhan commented on #162
@herbertpimentel Can you try as below?
[code]

after that, you can paginate

[code]
I hope it helps!

[2022-04-12 18:33] LosTigeros opened #165 "An issue with types on mongoose v5"
**Describe the bug**
Hey, that's not really a bug, but some type errors. To be exact, these:
[code]

**To Reproduce**
1. Install legacy version of `mongoose` (latest is 5.13.14) and latest version of `mongoose-paginate-v2`:
`yarn add mongoose@5.13.14 mongoose-paginate-v2`
2. Create a sample file with imports of `mongoose` and `mongoose-paginate-v2`:
`index.ts`:
[code]
4. Try to transpile that file

[2022-04-17 09:14] lifeinapril commented on #4
so is it the mongoose version that was the problem?

[2022-04-19 12:50] aravindnc commented on #4
Yes. @lifeinapril

[2022-04-19 19:42] gabrielgasp opened #167 "Feature: Default to last page when trying to query a page greater than total pages."
**Is your feature request related to a problem? Please describe.**
I wouldn't call it a problem but when we try to query a page greater than the total number of pages available the lib try to query said page and we get an empty array.

**Describe the solution you'd like**
I think it would be nice we the lib defaults to the last available page when this happens (or at least gives the option to).

*

[2022-04-19 19:45] aravindnc commented on #165
@LosTigeros Please use below version for Mongoose 5.
 https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mongoose-paginate-v2

Let me know if this helps.

[2022-04-20 23:00] necm1 opened #168 "Query on populate field"
Hi!

I tried multiple times to query my populate field to get entries of a specific user. Actually, I don't really know how to do this.

I tried to use the `options` object but it gives me `null` as the result:

[code]

That's the result I get (one entry of multiple entries which doesn't match the user id):
[code]

Is there any way to perform a `WHERE`-Condition in populate to get only entries of

[2022-04-21 21:28] necm1 opened #169 "class-transformer not working properly"
Hey!

I'm actually facing an issue using `class-transformer` using NestJS. I try to exclude some properties for my response, but getting following error:

[code]

Method I'm using to create paginate:
[code]

The following entities `User` & `Profile` is a normal `Scheme` which looks for example like this:
[code]

How I create the response:
[code]

Even without using the `transform` object in my `po

[2022-04-28 10:50] keniiy opened #170 "Cannot carry out a weighted text search"
I am trying to apply the following query to the paginate function, but don't think it works.

var docItems = require('../models/docItems.js');
docItems.find(
        {$text: {$search: req.query.searchString}}
        , {score: {$meta: "textScore"}}
    )
        .sort({ score : { $meta : 'textScore' } })
        .exec(function(err, results) {

            return next(err, results);
        });

th

[2022-04-28 21:32] jdhiro commented on #165
@aravindnc that link isn't working. What's the specific version to use?

[2022-04-29 06:22] LosTigeros commented on #165
After installing it, I'm getting a lot of these:
[code]
So this is not a solution

[2022-04-29 08:20] LosTigeros commented on #165
I created that issue because I wanted to use the latest version of this package. It doesn't say anywhere that >= 1.6.0 is not compatible with v5 anymore. If this issue won't be fixed, please at least state somewhere that, mongoose-paginate-v2 >=1.6.0 is not compatible with legacy version of mongoose (v5).

[2022-06-05 19:21] JKurero opened #172 "Is there a way to paginate through populated documents using the mongoose-paginate-v2?"
**Is your feature request related to a problem? Please describe.**
I've got User and Post models. User.favPosts is an array of refs to the Post model. I'm calling paginate like this:

    options = { populate: {path: 'favPosts'} };
    const result = await User.paginate({}, options)

And the result is a user document with populated posts:

    {
      "docs": [
        {
          "_id": "6299ffa5

[2022-06-08 19:24] JKurero commented on #172
@aravindnc, thanks, it helped!

[2022-06-08 19:24] #172 closed

[2022-06-08 19:47] aravindnc commented on #168
@necm1 You can try https://www.npmjs.com/package/mongoose-aggregate-paginate-v2 which might be good in your case.

[2022-06-08 19:50] aravindnc commented on #169
Duplicate of #160

[2022-06-08 19:51] aravindnc commented on #169
@necm1 It seems there is an issue with toObject, which we need to figure it out.

[2022-06-08 19:56] aravindnc commented on #167
@GabrielGaspar447 Thanks for pointing this out. I will add a fix soon.

[2022-06-08 19:58] aravindnc commented on #170
@keniiy Haven't tried that. Let me see if this can be fixed.

[2022-06-09 15:55] MohRaouf opened #173 "More generic pagination options to avail reading all docs"
**Is your feature request related to a problem? Please describe.**
I get the paginated data with a query params, what if I want to get all docs from the same endpoint ?

**Describe the solution you'd like**
I want to make it more general so that when no query parameters provided it returns all docs,

**Describe alternatives you've considered**
unfortunately due to the default value of limit option

[2022-06-23 09:23] kirtan403 commented on #160
Any ETA on this issue? We are facing the same problem... The transform method is getting skipped when the PaginateModel is used

[2022-06-24 04:50] aravindnc commented on #160
I have spent sometime with this, and no idea what's causing this issue.

[2022-06-24 04:50] aravindnc commented on #169
I have spent sometime with this, and still no idea what's causing this issue.

[2022-06-24 08:19] lau1944 opened #174 "Add paginate on subdocuments list"
I want to add pagination features to sub-docs list

for instance

We have a user model which contains followers
[code]

Now, when we need to fetch the followers of a user
[code]

But here I want to paginate the followers list, but I cannot use the api from this library to achieve this.
Instead I need to
[code]
That adds some extra code...

Is there any way to do that in this library ?
If not, I am

[2022-06-24 16:16] lau1944 commented on #174
I took a look but I don't think aggregation can be used in my use case.

Maybe we can add a way to paginate sub-docs ?

[2022-06-25 04:26] aravindnc commented on #174
@lau1944 Yes its good to add as an option. You are welcome to contribute if you are willing.

[2022-06-25 13:08] lau1944 commented on #174
How about I add a second method, let say paginateSubDocs, if user want to paginate only sub-documents, they can add this function to their schema. And this function only support `findOne` query.

[2022-06-26 03:22] aravindnc commented on #174
@lau1944 Excellent. Let's start with this.

[2022-06-26 14:44] lau1944 commented on #174
Thanks! I am working on it, will pr in a few days ><

[2022-06-27 15:55] lau1944 commented on #174
@aravindnc would you like to take a look #175

[2022-07-01 05:55] baladin commented on #160
I am facing this issue also. I am using this plugin with @meanie/mongoose-to-json, but all private fields are leaked.

[2022-07-01 10:07] #174 closed

[2022-07-04 16:01] aravindnc commented on #173
@MohRaouf Thanks for the suggestion. I will add this as an option.

[2022-07-16 01:12] jdhiro commented on #165
I had put off upgrading to the latest version of mongoose, and hence this library, because I was getting a ton of type errors when trying to update...

Until I realized that my @types/node was @10 instead of @16. Updating that one thing got rid of almost all of my type errors with both Mongoose and this package. YMMV.

[2022-07-16 08:55] ariakm25 commented on #38
@aravindnc any updates on this, sir?

[2022-07-16 13:12] fxanhkhoa commented on #158
I am sorry for jumpping in, I have an issue when trying to
`import { PaginateModel } from 'mongoose';`

I tried to install @types/mongoose-paginate-v2 but no luck
But after install @types/mongoose-paginate it works

Do you have any ideal on this?

[2022-07-19 07:27] ypicard commented on #158
You should not install `@types/mongoose-paginate-v2` as they are for older versions of this package. It should work out of the box by following the README instructions. Could you provide additional information on what the problem is?

[2022-07-19 07:45] fxanhkhoa commented on #158
Thank you so much @ypicard,
I successfully to import PaginateModel
the problem is I plugin library wrong way
Wrong way:

					connection.plugin(require('mongoose-paginate-v2'));
					return connection;
				},

So I imported like this, and it works

					connection.plugin(mongoosePaginate);
					return connection;
				},

[2022-07-30 19:49] ypicard commented on #158
Ah yes, this depends if you are using ESM or CJS syntax. Glad it worked out for you!

[2022-08-25 20:52] georgeben commented on #169
@necm1 Please how did you add `paginate` method to your mongoose model? Typescript keeps throwing an error that `paginate` does not exist on a mongoose document.

[2022-08-26 11:20] necm1 commented on #169
You need to use the `PaginateModel<T>`-interface i.e.:
[code]

---

@aravindnc some time passed - did you find any solution / fix for this issue?

[2022-08-31 17:08] kaboume opened #178 "Filter with not equal operator"
Hi,
I want to filter documents not equal to the role "admin" :
So I wrote this line :
filter = {role: "$ne: 'admin'"};
but no documents are returned?

[2022-09-08 02:26] #38 closed

[2022-09-16 13:36] Gabrirf commented on #178
I think you are missing some syntax. Try:
[code]

[2022-09-16 13:51] Gabrirf opened #180 "Can't match a ISODate range"
I have my documents created with `createdAt` and `updatedAt` fields from mongoose feature. I normally add date filters in this way:

[code]
For the aggregate I use:
[code]

It should filter from-to date, but I got an empty array on results

I'm using Node v14 with:
[code]

This query it's working directly on Robo3t:

[code]

[2022-09-23 17:05] rahmanrezaee commented on #154
add this line in model file

[code]

[2022-09-30 12:39] Gabrirf commented on #180
Solved by removing `toISOString` function, must be specific with an object:

[code]

[2022-09-30 12:39] #180 closed

[2022-10-02 13:00] divyeshdhokiya commented on #145
Same issue. any luck so far?

[2022-10-11 07:29] aravindnc commented on #165
Thanks for pointing this out.

There is a writeup already in the readme section.
Prior to version 1.5.0, types need to be installed from DefinitelyTyped.

But, we are not sure how the ts version got removed from DefinitelyTyped which caused the issue.
I will try some alternative for supporting mongoose v5.

    On Friday, 29 April, 2022, 01:50:37 pm IST, Patryk L. ***@***.***> wrote:

I created th

[2022-11-15 10:12] A-Ghattas opened #181 "Property 'paginateSubDocs' does not exist error when using typescipt"
**Describe the bug**
Property 'paginateSubDocs' does not exist while paginate works correctly when using mongoose-paginate-v2 in a typescript project

**To Reproduce**
Add mongoose-paginate-v2 to a typescript project
Add it as a plugin to one of the schema
Add PaginateModel as an extenion of your model
Call paginateSubDocs (For exemple User.paginateSubDocs(...))

**Expected behavior**
paginateSubD

[2022-11-17 09:09] Djibdjib commented on #145
Same issue here... thx to find a solution, plz